workflows/archive/n8n-retired-2026-06/coe_n8n_coe_untrust_eu_de_prod_tddrift/Ai Agent V1.json
{
  "id": "XfHIsix1A1VNFM65",
  "name": "Ai Agent V1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "onboarding-chat",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "webhookId": "onboarding-chat"
    },
    {
      "parameters": {
        "jsCode": "// ========================================\n// STEP 2 — CLEAN + SAFE PREPARE DATA NODE\n// ========================================\n\n// Incoming request\nconst userMessage = $input.item.json.body.message || \"\";\nconst onboardingData = $input.item.json.body.onboardingData || {};\nconst checklist = $input.item.json.body.checklist || {};\nconst conversationHistoryIn = $input.item.json.body.conversationHistory || [];\n\n// --- 1. Sanitize conversation history ---\nconst conversationHistory = (conversationHistoryIn || [])\n  .filter(m => m && m.role && m.content)\n  .map(m => ({ role: m.role, content: String(m.content) }));\n\n// --- 2. Build system prompt ---\nconst systemPrompt = `\nYou are Tradedoubler’s AI Onboarding Assistant. Speak warmly, ask one question at a time, and acknowledge progress clearly.\n\nOnboarding steps:\n1. Branded tracking domains (visit.* + statics.*)\n2. Product feed URL (CSV / XML)\n3. Program assets (logo, banners, T&Cs)\n4. Office IP addresses\n5. Tracking scripts implementation\n\nNEVER mark a step complete unless the data is actually provided.\n\nCurrent collected data:\n${JSON.stringify(onboardingData, null, 2)}\nChecklist status:\n${JSON.stringify(checklist, null, 2)}\n`;\n\n// --- 3. Build final messages array ---\nconst messages = [\n  { role: \"system\", content: systemPrompt },\n  ...conversationHistory,\n  { role: \"user\", content: userMessage }\n];\n\nreturn {\n  messages,\n  userMessage,\n  onboardingData,\n  checklist,\n  uploadedFiles: $input.item.json.body.uploadedFiles || {}\n};\n"
      },
      "name": "Prepare Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openRouterApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "HTTP-Referer",
              "value": "https://n8n.io"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'anthropic/claude-3.5-sonnet', messages: $json.messages }) }}",
        "options": {}
      },
      "name": "Call OpenRouter",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// ========================================\n// STEP 3 — SMART PROCESS DATA NODE\n// ========================================\n\nconst aiResponse = $input.item.json.choices[0].message.content;\nconst userMessage = $('Prepare Data').item.json.userMessage;\nconst previous = $('Prepare Data').item.json.onboardingData || {};\nconst uploadedFiles = $('Prepare Data').item.json.uploadedFiles || {};\nconst lower = userMessage.toLowerCase();\n\nlet data = { ...previous };\n\n// ------------------------------------------------\n// 1. Extract Name (multi-word)\n// ------------------------------------------------\nconst nameMatch = userMessage.match(/(?:i'?m|i am|my name is)\\s+([a-zA-Z][a-zA-Z\\s'-]+)/i);\nif (nameMatch && !data.clientName) {\n    data.clientName = nameMatch[1].trim();\n}\n\n// ------------------------------------------------\n// 2. Extract Company\n// ------------------------------------------------\nconst companyMatch = userMessage.match(/(?:company|from|we are)\\s+(?:called\\s+)?([a-zA-Z0-9&\\s'-]+)/i);\nif (companyMatch && !data.companyName) {\n    data.companyName = companyMatch[1].trim();\n}\n\n// ------------------------------------------------\n// 3. Extract Email\n// ------------------------------------------------\nconst emailMatch = userMessage.match(/[\\w.-]+@[\\w.-]+\\.\\w+/);\nif (emailMatch) data.email = emailMatch[0];\n\n// ------------------------------------------------\n// 4. Extract DNS Subdomains\n// ------------------------------------------------\nconst visitMatch = userMessage.match(/visit\\.([a-zA-Z0-9.-]+\\.[a-zA-Z]{2,})/);\nconst staticsMatch = userMessage.match(/statics\\.([a-zA-Z0-9.-]+\\.[a-zA-Z]{2,})/);\n\nif (visitMatch || staticsMatch) {\n    data.brandedTracking = {\n        visit: visitMatch ? visitMatch[0] : previous.brandedTracking?.visit || \"\",\n        statics: staticsMatch ? staticsMatch[0] : previous.brandedTracking?.statics || \"\"\n    };\n}\n\n// ------------------------------------------------\n// 5. Extract Product Feed URL\n// ------------------------------------------------\nconst urlMatch = userMessage.match(/https?:\\/\\/\\S+/);\nif (urlMatch) data.productFeedUrl = urlMatch[0];\n\n// ------------------------------------------------\n// 6. Extract IP Addresses\n// ------------------------------------------------\nconst ips = userMessage.match(/\\b(?:\\d{1,3}\\.){3}\\d{1,3}\\b/g);\nif (ips) {\n    data.officeIPs = [...new Set([...(data.officeIPs || []), ...ips])];\n}\n\n// ------------------------------------------------\n// 7. ASSET UPLOAD TRIGGER (Option B)\n// ------------------------------------------------\nlet triggerAssetUpload = false;\nlet assetPayload = null;\n\nconst totalFiles =\n    (uploadedFiles.logo?.length || 0) +\n    (uploadedFiles.banners?.length || 0) +\n    (uploadedFiles.terms?.length || 0) +\n    (uploadedFiles.other?.length || 0);\n\nif (totalFiles > 0 && lower.includes(\"upload\")) {\n    triggerAssetUpload = true;\n    assetPayload = {\n        logo: uploadedFiles.logo || [],\n        banners: uploadedFiles.banners || [],\n        terms: uploadedFiles.terms || [],\n        other: uploadedFiles.other || []\n    };\n}\n\n// ------------------------------------------------\n// 8. CHECKLIST (data-driven)\n// ------------------------------------------------\nconst checklist = {\n    intro: !!(data.clientName && data.companyName),\n    brandedTracking: !!(data.brandedTracking?.visit && data.brandedTracking?.statics),\n    productFeed: !!data.productFeedUrl,\n    assets: totalFiles > 0 || previous.filesUploaded === true,\n    ipAddresses: (data.officeIPs || []).length > 0,\n    trackingScripts: data.brandedTracking?.visit && data.brandedTracking?.statics && lower.includes(\"scripts\")\n};\n\nconst isComplete = Object.values(checklist).every(v => v);\n\n// Return everything\nreturn {\n  response: aiResponse,\n  onboardingData: data,\n  checklist,\n  triggerAssetUpload,\n  assetPayload,\n  isComplete\n};\n"
      },
      "name": "Process Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  response: $json.response,\n  onboardingData: $json.onboardingData,\n  checklist: $json.checklist,\n  isComplete: $json.isComplete\n} }}",
        "options": {}
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        880,
        0
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        768,
        -320
      ],
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        512,
        -176
      ],
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        800,
        -144
      ],
      "name": "Simple Memory"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Prepare Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Data": {
      "main": [
        [
          {
            "node": "Call OpenRouter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call OpenRouter": {
      "main": [
        [
          {
            "node": "Process Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Data": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "tags": [],
  "active": false
}