workflows/archive/n8n-retired-2026-06/coe_n8n_coe_untrust_eu_de_prod_tddrift/AI based data analysis, data visualization and data report with Ada.im.json
{
  "id": "dFisQvfsupdoryRB",
  "name": "AI based data analysis, data visualization and data report with Ada.im",
  "nodes": [
    {
      "parameters": {
        "content": "## Data Source\nThese nodes extract structured data directly from your data source (e.g., MySQL, Google Sheets, Excel/CSV).\n\nSimply connect the data source nodes you need and disconnect any unused nodes.\n\n**You must select one - and only one - data source node. Disconnect any additional data source nodes. You can also replace these nodes with any other data sources**\n\nAs long as the generated data matches the structured format required by the subsequent steps.\n\n## Sample Data\nA node is provided here that randomly generates one thousand data entries each time.\n\nThis dataset is a collection of simulated sales order records. Each record contains the following fields:\n\norder_date: The date when the order was placed.\nproduct_category: The category of the product sold, such as \"Electronics,\" \"Clothing & Fashion,\" \"Home & Furniture,\" \"Food & Beverages,\" \"Sports & Outdoors,\" or \"Beauty & Personal Care.\"\nregion: The sales region, which can include \"North America,\" \"South America,\" \"Europe,\" \"Asia,\" \"Africa,\" \"Oceania,\" \"Middle East,\" or \"Central Asia.\"\nsales_amount: The total sales amount for the order.\nThis type of data is typically used for analyzing sales performance across different time periods, product categories, and regions. In n8n, such data is usually structured as an array of objects, making it suitable for further processing, analysis, and automation workflows.",
        "height": 1536,
        "width": 448,
        "color": 4
      },
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Select the skills you need\nConnect the skill nodes you require\n\nYou need to apply for an API key according to the instructions, configure credentials, and set up Authentication in the DataAnalysis, DataInterpretation, and DataVisualization nodes.\n\n### Input parameters\ninput_json: Data from previous nodes\nquery: Query statement, you can set a fixed query according to your needs or use LLM to generate the query\n\n### Output\nThe output of DataAnalysis and DataInterpretation nodes will include markdown text, while the output of DataVisualization nodes will include HTML code.",
        "height": 976,
        "width": 656,
        "color": 4
      },
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1008,
        592
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Output\n\nHere we use sending email as an example; you can choose the method that suits your needs.",
        "height": 848,
        "width": 336,
        "color": 4
      },
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1840,
        720
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Overview\nThis template empowers low-code data analysis using natural language. Simply connect to your data sources (e.g., MySQL, Google Sheets),\nand it automates the entire workflow—from data querying and processing to interpretation and visualization. For instance,\nit can professionally analyze, interpret, and visualize weekly sales data and have the report delivered directly to your inbox.\n\nThis template is supported by [ada.im](https://ada.im/home?ada_data_=&utm_source=n8n&utm_medium=landingpage&utm_infeluncer=landingpage&utm_campain=landingpage&utm_content=landingpage)\n## Here are some example results:\n\n### DataVisualization\nquery: Use a pie chart to display the sales of each product in 2024, and a line chart to represent the total monthly sales of each product in 2024. Additionally, you can add some extra charts based on the data.\nresult: \n![result2.png](https://d1551jsgrpwivo.cloudfront.net/result2.png)\n![result3.png](https://d1551jsgrpwivo.cloudfront.net/result3.png)\n\n### DataInterpretation\nquery: Sales volume of each product in 2024\nresult: \n![result4.png](https://d1551jsgrpwivo.cloudfront.net/result4.png)\n![result5.png](https://d1551jsgrpwivo.cloudfront.net/result5.png)\n\n### DataAnalysis\nquery: What are the top three products in terms of sales in 2024? Analyze the gap between the top three products and the others from a statistical perspective.\nresult: \n![result6.png](https://d1551jsgrpwivo.cloudfront.net/result6.png)",
        "height": 4672,
        "width": 3088,
        "color": 7
      },
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3072,
        592
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 2️⃣ Set credentials\n\nIn HTTP nodes(DataAnalysis, DataInterpretation, and DataVisualization) select Authentication → Generic Credential Type\n![set_credentials_1.png](https://d1551jsgrpwivo.cloudfront.net/set_credentials_1.png)\n\nChoose Header Auth → Create new credential\n![set_credentials_2.png](https://d1551jsgrpwivo.cloudfront.net/set_credentials_2.png)\n\nName the header Authorization, which must be exactly 'Authorization', and fill in the previously applied API key\n![set_credentials_3.png](https://d1551jsgrpwivo.cloudfront.net/set_credentials_3.png)",
        "height": 1536,
        "width": 512
      },
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -640,
        864
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Consult\nContact us for inquiries or feedback.\n\nemail: n8n-plugin@ada.im\n\n[Discord](https://discord.com/invite/Bwd6zGYThS)\n\nExplore [Ada](https://ada.im/home?ada_data_=&utm_source=n8n&utm_medium=landingpage&utm_infeluncer=landingpage&utm_campain=landingpage&utm_content=landingpage) : Your own AI Data Analyst.",
        "height": 224,
        "width": 1088
      },
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1760,
        3232
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 1️⃣ Apply for an API Key\nYou can easily create and manage your API Key in the [ADA official website](https://ada.im/home?ada_data_=&utm_source=n8n&utm_medium=landingpage&utm_infeluncer=landingpage&utm_campain=landingpage&utm_content=landingpage) - API. To begin with, You need to register for an ADA account.\n\nOnce on the homepage, click the bottom left corner to access the API management dashboard.\n\n![apply_apikey_1.png](https://d1551jsgrpwivo.cloudfront.net/apply_apikey_1.png)\n\nHere, you can create new APIs and set the credit consumption limit for each API. A single account can create up to 10 APIs.\n\n![apply_apikey_2.png](https://d1551jsgrpwivo.cloudfront.net/apply_apikey_2.png)\n\nAfter successful creation, you can copy the API Key to set credentials. You can also view the credit consumption of each API and manage your APIs.\n\n![apply_apikey_3.png](https://d1551jsgrpwivo.cloudfront.net/apply_apikey_3.png)\n### **Credit Rules:**\n\n- Calling a single tool consumes 20 credits.\n- You will get 500 free credits per month for ADA Free account,  with each batch of credits valid for three months.\n- When credits run out, you can purchase more or upgrade your account on the ADA Billing page. Each batch of purchased credits is valid for three months. Expiration dates and billing details are available on the [ADA website-Billing](https://ada.im/udsl/#/system/billing).\n![apply_apikey_4.png](https://d1551jsgrpwivo.cloudfront.net/apply_apikey_4.png)",
        "height": 2336,
        "width": 1056
      },
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1776,
        864
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        80,
        960
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from orders limit 100",
        "options": {}
      },
      "name": "Get data from database",
      "type": "n8n-nodes-base.mySql",
      "position": [
        512,
        1152
      ],
      "typeVersion": 2.5
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "name": "Process Data",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        848,
        960
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1IhUFreWCZFLAUaCP9ELBnvakg1xSs4CgqnSnMvgkGmM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IhUFreWCZFLAUaCP9ELBnvakg1xSs4CgqnSnMvgkGmM/edit?usp=drivesdk",
          "cachedResultName": "example_data"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": 332281959,
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IhUFreWCZFLAUaCP9ELBnvakg1xSs4CgqnSnMvgkGmM/edit#gid=332281959",
          "cachedResultName": "Sheet1"
        },
        "options": {}
      },
      "name": "Get data from Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        512,
        1344
      ],
      "typeVersion": 4.7
    },
    {
      "parameters": {
        "options": {
          "dataPropertyName": "input_file"
        }
      },
      "name": "Get data from local file",
      "type": "n8n-nodes-base.readWriteFile",
      "position": [
        432,
        1536
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "input_file",
        "options": {}
      },
      "name": "Extract JSON from xlsx file",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        624,
        1536
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ada.im/api/platform_api/PythonDataAnalysis",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "input_json",
              "value": "={{$json.data}}"
            },
            {
              "name": "query",
              "value": "What are the top three products in terms of sales in 2024? Analyze the gap between the top three products and the others from a statistical perspective."
            },
            {
              "name": "platform",
              "value": "n8n"
            }
          ]
        },
        "options": {}
      },
      "name": "DataAnalysis",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1072,
        960
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ada.im/api/platform_api/DataInterpretation",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "input_json",
              "value": "={{$json.data}}"
            },
            {
              "name": "query",
              "value": "Sales volume of each product in 2024"
            },
            {
              "name": "platform",
              "value": "n8n"
            }
          ]
        },
        "options": {}
      },
      "name": "DataInterpretation",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1072,
        1136
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ada.im/api/platform_api/EchartsVisualization",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "input_json",
              "value": "={{$json.data}}"
            },
            {
              "name": "query",
              "value": "Use a pie chart to display the sales of each product in 2024, and a line chart to represent the total monthly sales of each product in 2024. Additionally, you can add some extra charts based on the data."
            },
            {
              "name": "platform",
              "value": "n8n"
            }
          ]
        },
        "options": {}
      },
      "name": "DataVisualization",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1072,
        1312
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "html",
        "binaryPropertyName": "chart",
        "options": {
          "fileName": "chart.html"
        }
      },
      "name": "Convert to HTML File",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        1488,
        1312
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $json.data.parseJson().data }}",
        "destinationKey": "html",
        "options": {
          "completeHTMLDocument": false,
          "simpleLineBreaks": true,
          "tables": true
        }
      },
      "name": "Convert markdown to HTML",
      "type": "n8n-nodes-base.markdown",
      "position": [
        1488,
        960
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $json.data.parseJson().data }}",
        "destinationKey": "html",
        "options": {
          "completeHTMLDocument": false,
          "simpleLineBreaks": true,
          "tables": true
        }
      },
      "name": "Convert markdown to HTML 2",
      "type": "n8n-nodes-base.markdown",
      "position": [
        1488,
        1136
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 3️⃣ Try out the skills\nSelect the data source and fill in the query parameters for the DataAnalysis, DataInterpretation, and DataVisualization nodes.\n![skills.png](https://d1551jsgrpwivo.cloudfront.net/set_credentials_4.png)",
        "height": 1168,
        "width": 512
      },
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -640,
        2448
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "subject": "n8n-email",
        "message": "={{ $json.html }}",
        "options": {}
      },
      "name": "Send DataAnalysis message",
      "type": "n8n-nodes-base.gmail",
      "position": [
        1968,
        960
      ],
      "webhookId": "6634ed2d-552c-4bf6-a7f2-bbdee8d61df4",
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "subject": "n8ntest",
        "message": "={{ $json.html }}",
        "options": {}
      },
      "name": "Send DataInterpretation message",
      "type": "n8n-nodes-base.gmail",
      "position": [
        1968,
        1136
      ],
      "webhookId": "6634ed2d-552c-4bf6-a7f2-bbdee8d61df4",
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "subject": "n8ntest",
        "emailType": "text",
        "message": "From n8n, please use a browser to open the HTML file in the attachment",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "=chart"
              }
            ]
          }
        }
      },
      "name": "Send DataVisualization",
      "type": "n8n-nodes-base.gmail",
      "position": [
        1968,
        1312
      ],
      "webhookId": "6634ed2d-552c-4bf6-a7f2-bbdee8d61df4",
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "jsCode": "const categories = [\n  'Electronics',\n  'Clothing & Fashion',\n  'Home & Furniture',\n  'Food & Beverages',\n  'Sports & Outdoors',\n  'Beauty & Personal Care'\n];\nconst regions = [\n  'North America',\n  'South America',\n  'Europe',\n  'Asia',\n  'Africa',\n  'Oceania',\n  'Middle East',\n  'Central Asia'\n];\n\nfunction randomDateWithin730Days() {\n  const now = new Date();\n  const daysAgo = Math.floor(Math.random() * 730);\n  now.setDate(now.getDate() - daysAgo);\n  return now.toISOString().slice(0, 10);\n}\n\nlet items = [];\nfor (let i = 0; i < 1000; i++) {\n  items.push({\n    json: {\n      order_date: randomDateWithin730Days(),\n      product_category: categories[Math.floor(Math.random() * categories.length)],\n      region: regions[Math.floor(Math.random() * regions.length)],\n      sales_amount: (50 + Math.random() * 49950).toFixed(2)\n    }\n  });\n}\nreturn items;"
      },
      "name": "Sample Data",
      "type": "n8n-nodes-base.code",
      "position": [
        512,
        960
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ab328d59-6af7-4084-9c75-a7b5c5673168",
              "name": "html",
              "type": "string",
              "value": "={{ JSON.parse($json.data).data }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Process Visualization Data",
      "type": "n8n-nodes-base.set",
      "position": [
        1280,
        1312
      ],
      "typeVersion": 3.4
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Sample Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sample Data": {
      "main": [
        [
          {
            "node": "Process Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DataAnalysis": {
      "main": [
        [
          {
            "node": "Convert markdown to HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Data": {
      "main": [
        [
          {
            "node": "DataVisualization",
            "type": "main",
            "index": 0
          },
          {
            "node": "DataAnalysis",
            "type": "main",
            "index": 0
          },
          {
            "node": "DataInterpretation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DataVisualization": {
      "main": [
        [
          {
            "node": "Process Visualization Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DataInterpretation": {
      "main": [
        [
          {
            "node": "Convert markdown to HTML 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to HTML File": {
      "main": [
        [
          {
            "node": "Send DataVisualization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get data from database": {
      "main": [
        [
          {
            "node": "Process Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert markdown to HTML": {
      "main": [
        [
          {
            "node": "Send DataAnalysis message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get data from local file": {
      "main": [
        [
          {
            "node": "Extract JSON from xlsx file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert markdown to HTML 2": {
      "main": [
        [
          {
            "node": "Send DataInterpretation message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Visualization Data": {
      "main": [
        [
          {
            "node": "Convert to HTML File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract JSON from xlsx file": {
      "main": [
        [
          {
            "node": "Process Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get data from Google Sheets": {
      "main": [
        [
          {
            "node": "Process Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "tags": [],
  "active": false
}