workflows/archive/n8n-retired-2026-06/coe_n8n_coe_untrust_eu_de_prod_tddrift/Onboarding Agent - Self Improving.json
{
  "id": "VfXX81rmChz92En9",
  "name": "Onboarding Agent - Self Improving",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "onboarding-chat",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1888,
        400
      ],
      "webhookId": "onboarding-chat"
    },
    {
      "parameters": {
        "jsCode": "// ----------------------------\n// Get incoming data\n// ----------------------------\nconst body = $input.item.json.body || {};\n\nconst userMessage = body.message || \"\";\nconst conversationHistory = body.conversationHistory || [];\nconst onboardingData = body.onboardingData || {};\nconst checklist = body.checklist || {};\n\n// ------------------------------------------------\n// PROGRAM ID HANDLING (reliable + persistent)\n// ------------------------------------------------\nlet programId = body.programId || onboardingData.programId || null;\n\n// Only save programId if valid (avoid undefined/N/A)\nif (programId) {\n  onboardingData.programId = programId;\n}\n\n// Dynamic implementation URL (safe fallback)\nlet implementationUrl = \"\";\nif (onboardingData.programId) {\n  implementationUrl = `https://hst.tradedoubler.com/file/${onboardingData.programId}/implementation.html`;\n}\n\n// ------------------------------------------------\n// SAFETY RULE: Prevent mistakes in client name extraction\n// ------------------------------------------------\nonboardingData.disallowedNames = [\n  \"happy\", \"good\", \"ok\", \"great\", \"fine\", \"yes\", \"yep\", \"sure\", \"okay\"\n];\n\n// ============================================\n// NEW: SEARCH FOR SIMILAR PATTERNS\n// ============================================\n\nlet learningContext = \"\";\n\n// Only search if user message has substance\nif (userMessage.trim().length > 10) {\n  // Detect current topic for filtering\n  const userLower = userMessage.toLowerCase();\n  \n  if (userLower.includes('cname') || userLower.includes('dns') || userLower.includes('subdomain')) {\n    learningContext = `\n    \n📚 LEARNING FROM PAST SUCCESSES:\nWhen clients ask about DNS/CNAME setup, successful approaches include:\n- Using simple analogies (e.g., \"CNAME is like forwarding mail to a different address\")\n- Emphasizing that they're just creating a forwarding rule, not building anything\n- Offering to share DNS provider-specific instructions if they need help\n- Being patient and breaking it down step by step\n`;\n  } else if (userLower.includes('gtm') || userLower.includes('tag manager') || userLower.includes('preview')) {\n    learningContext = `\n    \n📚 LEARNING FROM PAST SUCCESSES:\nFor GTM questions, successful approaches include:\n- Clearly stating that GTM Preview Mode CANNOT validate Tradedoubler tracking\n- Explaining that the test MUST be done on the live site using the official test link\n- Emphasizing that Preview Mode only confirms tags fire, but doesn't reach TD servers\n- Offering to walk them through the proper testing process step by step\n`;\n  } else if (userLower.includes('confused') || userLower.includes('not sure') || userLower.includes('don\\'t understand')) {\n    learningContext = `\n    \n📚 LEARNING FROM PAST SUCCESSES:\nWhen clients express confusion, successful approaches include:\n- Acknowledging their confusion without judgment\n- Breaking down complex topics into simple steps\n- Using real-world analogies that relate to their business\n- Offering to explain in a different way if needed\n- Being patient and encouraging\n`;\n  }\n}\n\n// ------------------------------------------------\n// SYSTEM PROMPT — KEEP YOUR CONTENT, JUST INSERT DYNAMIC VALUES\n// ------------------------------------------------\nconst systemPrompt = `\nYou are an expert onboarding assistant for Tradedoubler, an affiliate marketing network. Guide clients through technical onboarding in a friendly, professional manner. Only greet the user once at the start of the conversation; once the conversation is flowing never repeat greetings such as Hi, Hello or Hey.\n\n${learningContext}\n\nCRITICAL: You MUST follow these steps IN ORDER. After collecting information for one step, AUTOMATICALLY move to the next step. Do NOT ask what the user wants to do - guide them through the process step by step.\n\nOnboarding steps:\n1. BRANDED TRACKING: Two subdomains (visit.clientdomain.com and statics.clientdomain.com).\nFIRST: Get client name and company name if you don't have them yet.\n\nIMPORTANT: You may ONLY extract a client name if the user explicitly says:\n- \"my name is Mark\"\n- \"I'm Phil\"\n- \"I am Alice\"\n- \"this is Tom\"\nIF the user simply says \"I am happy\" or \"yes I am happy\", DO NOT treat this as a name.\n\nTHEN: IMMEDIATELY (without asking what they want) give this branded tracking paragraph:\n\"To combat the increasing challenges of Browser Privacy settings and Adblockers on tracking technology Tradedoubler has launched Branded Tracking. This solution will mask Tradedoubler tracking scripts under your own domain, preventing them from being disrupted. Branded Tracking also comes with the added benefit of masking publisher click links under your domain as well, creating a more positive user journey for consumers. \nTo set this up, we will need two new subdomains — one for ad serving and one for tracking. You don't need to configure the subdomains on your end; we only require their names so we can register them in our system. Once the domain names are confirmed, I'll provide you with the CNAME DNS records needed to establish the connection.\"\nAFTER: Ask for their website domain.\nOnce the client confirms they are happy with the subdomains, you MUST repeat the final branded domains explicitly (visit.[rootDomain] and statics.[rootDomain]) and say they have been sent to the technical team.\n\nWhen confirming branded tracking domains, NEVER omit the domains. ALWAYS repeat both domains explicitly.\n\n2. PRODUCT FEED:\n- Ask for the feed URL\n- Validate accessibility\n- Once the feed link is provided, respond EXACTLY like:\n\"Perfect! I've received your product feed URL. I'm now connecting it to our AI-powered mapping system. I'll send you an email once it's complete. In the meantime, let's move on to uploading your program assets.\"\n\n3. PROGRAM ASSETS:\n- Logo (350x130)\n- Ads (160x600, 300x250, 300x600, 728x90, 928x70)\n- T&Cs\n\n4. OFFICE IP ADDRESSES:\n- Ask for IPs to blacklist internal staff\n\n5. TRACKING SCRIPTS:\nSay:\n\"Perfect! Now that your domains are confirmed, here are your tracking scripts:\n\n📄 Implementation File: ${implementationUrl}\n\nThis file contains:\n• Landing page script (for all pages)\n• Confirmation page script (for thank-you/order confirmation page)\n• Test link for verification\n\nNEXT STEPS:\n1. Integrate the scripts into your website following the instructions in the file\n2. Once integrated, use the test link provided to complete a test transaction\n3. This will verify that tracking is working correctly\n\nWould you like me to walk you through the integration process, or do you have a developer who will handle this?\"\n\nIMPORTANT: GTM Preview Mode is ONLY for checking that tags fire correctly.\nYou CANNOT validate Tradedoubler tracking in Preview Mode because the test click link will not load inside preview and the pixel will not reach the Tradedoubler servers.\n\nReal tracking tests MUST be done on the live site using the official Tradedoubler test link — outside of GTM Preview Mode.\n\nIMPORTANT: Once the user confirms they have completed a test sale, say:\n\"Great! Thanks for testing. I have sent a message through to our technical team to verify if the tracking is live.\"\n\nCRITICAL — TRACKING SCRIPT RULES:\nIMPORTANT: Clarification about Google Tag Manager (GTM) usage:\n\nTradedoubler DOES allow the use of the GTM dataLayer, but ONLY for the purpose of \npassing dynamic transaction parameters (order number, order value, currency, \nvoucher, products, etc.) into the GTM confirmation tag.\n\nGTM's dataLayer is NOT used for firing Tradedoubler conversions.\n\nThe ONLY valid tracking mechanism is:\nvar TDConversion = {\n  transactionId: '[ORDER_NUMBER]',\n  ordervalue: '[ORDER_VALUE]',\n  currency: '[CURRENCY]',\n  event: [EVENT_ID],\n  voucher: '[VOUCHER]',\n  cdt: { extId: '[EXITID]', extType: 1 },\n  validOn: '[VALID_ON]',\n  products: '[PRODUCT_DATA]'\n};\ntdconv('track', 'sale', TDConversion);\ntdfallback('https://a.imgstatic.eu/trsdk');\n\nYou MUST guide the user by referring to the Tradedoubler GTM manual.\n\nBe warm, ask one question at a time, celebrate progress, and acknowledge information clearly.\n\nCurrent progress:\n- Client: ${onboardingData.clientName || 'Not provided'}\n- Company: ${onboardingData.companyName || 'Not provided'}\n- Completed steps: ${Object.values(checklist).filter(Boolean).length}/6\n`;\n\n// ----------------------------\n// Messages\n// ----------------------------\nconst messages = [\n  { role: \"system\", content: systemPrompt },\n  ...conversationHistory,\n  { role: \"user\", content: userMessage }\n];\n\n// ----------------------------\n// Return clean payload\n// ----------------------------\nreturn {\n  messages,\n  systemPrompt,\n  userMessage,\n  onboardingData,\n  checklist,\n  sessionId: body.sessionId || null\n};"
      },
      "name": "Prepare Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1696,
        400
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ \n$json.systemPrompt \n+ \"\\n\\nMost Recent User Message:\\n\"\n+ $json.userMessage \n+ \"\\n\\nConversation so far:\\n\" \n+ $json.messages.filter(m => m.role !== 'system').map(m => m.role + ': ' + m.content).join('\\n') \n}}",
        "options": {
          "returnIntermediateSteps": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -1520,
        400
      ],
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1840,
        656
      ],
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "L4g2aVcKF4eab59w",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Searches the Tradedoubler technical knowledge base.\n\nUSE THIS TOOL for any question involving:\n- \"why\", \"how\", \"what is\", \"what if\", \"can you explain\"\n- tracking implementation (landing/confirmation scripts)\n- branded tracking (visit. / statics. domains, first-party cookies)\n- DNS setup / CNAME configuration\n- GTM integration, dataLayer, tag sequencing\n- testing and troubleshooting\n- product feeds (XML/CSV), feed rules, product attributes\n- consent management & GDPR\n- Safari ITP, TDUID, cookies, trsdk, tdconv\n\nHOW TO USE RESULTS:\n1. Prefer chunks where metadata.embedding_role = \"content\".\n2. Use metadata.embedding_role = \"title\" and \"keywords\" to improve relevance\n   when the user's query is ambiguous or broad.\n3. Use metadata.semantic_category to focus retrieval on the correct topic:\n   - dns-setup\n   - branded-tracking\n   - conversion-tracking\n   - gtm-implementation\n   - product-feed\n   - compliance\n   - testing\n4. Use metadata.search_text to match intent, terminology, and synonyms.\n5. Base ALL technical answers STRICTLY on the retrieved chunks.\n6. If the retrieved documents do not contain the required information,\n   clearly state that the documentation does not cover it.\n\nYou MUST call this tool before answering any technical question.\nYou MUST ground your answers in the retrieved documentation.",
        "tableName": {
          "__rl": true,
          "value": "documents_v3",
          "mode": "list",
          "cachedResultName": "documents_v3"
        },
        "topK": 6,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -1360,
        656
      ],
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "b5IZZso0TIYWpJI3",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1488,
        816
      ],
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "L4g2aVcKF4eab59w",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -1664,
        656
      ],
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "kpc0xbEzS5TnP8WZ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Force SINGLE execution - log for debugging\nconst allItems = $input.all();\nconsole.log(\"=== TAKE LAST ITEM ===\");\nconsole.log(\"Total items received:\", allItems.length);\n\n// Return ONLY the very last item\nconst lastItem = $input.last().json;\nconsole.log(\"Returning last item:\", { hasOutput: !!lastItem.output, hasText: !!lastItem.text });\n\nreturn { json: lastItem };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1216,
        400
      ],
      "name": "Take Last Item"
    },
    {
      "parameters": {
        "jsCode": "// ----------------------------\n// ALWAYS process only the final output of AI Agent\n// ----------------------------\nconst input = $input.last().json;\n\n// ----------------------------\n// Extract AI response\n// ----------------------------\nconst aiResponse = input.output || input.text || \"\";\nconst aiResponseLower = aiResponse.toLowerCase();\n\n// ----------------------------\n// Load onboarding data from Prepare Data (PERSISTENT)\n// ----------------------------\nlet data = $('Prepare Data').item.json.onboardingData || {};\n\nconsole.log(\"=== ONBOARDING DATA DEBUG ===\");\nconsole.log(\"Loaded data:\", JSON.stringify(data, null, 2));\n\n// ----------------------------\n// Extract user message from Prepare Data\n// ----------------------------\nconst userMessageRaw = $('Prepare Data').item.json.userMessage || \"\";\nconst userMessage = userMessageRaw.trim().toLowerCase();\n\n// ----------------------------\n// Name extraction (fixed to avoid \"happy\")\n// ----------------------------\nif (!data.clientName) {\n  const nameMatch = userMessage.match(/\\b(?:my name is|i am|i'm|im|this is)\\s+([a-z]+)\\b/i);\n  if (nameMatch) {\n    const extracted = nameMatch[1].toLowerCase();\n    \n    // Prevent false positives like \"happy\", \"good\", \"ok\"\n    const invalidNames = [\"happy\", \"ok\", \"test\", \"great\", \"fine\", \"good\"];\n    if (!invalidNames.includes(extracted)) {\n      data.clientName = extracted.charAt(0).toUpperCase() + extracted.slice(1);\n    }\n  }\n}\n\n// ----------------------------\n// Extract company\n// ----------------------------\nif (!data.companyName) {\n  const companyMatch = userMessage.match(/\\b(?:work at|from|with|representing|company)\\s+([a-z0-9&\\s]+)\\b/i);\n  if (companyMatch) {\n    data.companyName = companyMatch[1].trim();\n  }\n}\n\n// ----------------------------\n// Root domain extraction\n// ----------------------------\nconst domainMatch = userMessage.match(/([a-z0-9-]+\\.[a-z]{2,}(?:\\.[a-z]{2,})?)/i);\nif (domainMatch) {\n  const clean = domainMatch[0].replace(/^(https?:\\/\\/)?(www\\.)?/, \"\");\n  data.rootDomain = clean;\n  data.visitSubdomain = `visit.${clean}`;\n  data.staticsSubdomain = `statics.${clean}`;\n}\n\n// ----------------------------\n// Product feed URL extraction\n// ----------------------------\nconst linkMatch = userMessage.match(/https?:\\/\\/[^\\s]+/i);\nif (linkMatch && (userMessage.includes(\"feed\") || userMessage.includes(\"product\"))) {\n  data.productFeedUrl = linkMatch[0];\n}\n\n// Detect feed format\nif (data.productFeedUrl) {\n  if (data.productFeedUrl.toLowerCase().endsWith(\".xml\")) {\n    data.feedFormat = \"XML\";\n  } else if (data.productFeedUrl.toLowerCase().endsWith(\".csv\")) {\n    data.feedFormat = \"CSV\";\n  }\n}\n\n// ----------------------------\n// Extract IPs\n// ----------------------------\nif (userMessage.match(/\\b\\d{1,3}(\\.\\d{1,3}){3}\\b/)) {\n  const ips = userMessage.match(/\\b\\d{1,3}(\\.\\d{1,3}){3}\\b/g);\n  data.officeIPs = [...(data.officeIPs || []), ...ips];\n}\n\nconsole.log(\"=== DATA AFTER EXTRACTION ===\");\nconsole.log(JSON.stringify(data, null, 2));\n\n// ----------------------------\n// Detect branded tracking confirmation (ONLY PAST TENSE)\n// ----------------------------\nlet triggerBrandedTrackingNotification = false;\nlet brandedVisitDomain = null;\nlet brandedStaticsDomain = null;\n\nconst brandedPatterns = [\n  \"sent to the technical team\",\n  \"sent to our technical team\",\n  \"forwarded to the technical team\",\n  \"submitted to the technical team\"\n];\n\nlet matchedPattern = null;\nbrandedPatterns.forEach(pattern => {\n  if (aiResponseLower.includes(pattern)) {\n    matchedPattern = pattern;\n  }\n});\n\nif (matchedPattern) {\n  triggerBrandedTrackingNotification = true;\n  \n  const visitMatch = aiResponse.match(/visit\\.[a-z0-9.-]+\\.[a-z]{2,}/i);\n  const staticsMatch = aiResponse.match(/statics\\.[a-z0-9.-]+\\.[a-z]{2,}/i);\n  \n  brandedVisitDomain = visitMatch?.[0] || null;\n  brandedStaticsDomain = staticsMatch?.[0] || null;\n  \n  if (data.rootDomain) {\n    if (!brandedVisitDomain) brandedVisitDomain = `visit.${data.rootDomain}`;\n    if (!brandedStaticsDomain) brandedStaticsDomain = `statics.${data.rootDomain}`;\n  }\n}\n\n// ----------------------------\n// Detect product feed submission\n// ----------------------------\nlet triggerProductFeedNotification = false;\n\nconst productFeedPatterns = [\n  \"received your product feed url\",\n  \"i've received your product feed\",\n  \"connecting it to our ai-powered mapping system\"\n];\n\nproductFeedPatterns.forEach(pattern => {\n  if (aiResponseLower.includes(pattern) && data.productFeedUrl) {\n    triggerProductFeedNotification = true;\n  }\n});\n\n// ----------------------------\n// Detect test sale completion\n// ----------------------------\nlet triggerTestSaleNotification = false;\n\nconst testSaleUserPhrases = [\n  \"completed a test sale\",\n  \"completed the test sale\",\n  \"done a test sale\",\n  \"finished the test\",\n  \"completed a test\"\n];\n\nconst testSaleAiPatterns = [\n  \"sent a message through to our technical team to verify\",\n  \"technical team to verify if the tracking is live\"\n];\n\nconst userMentionedTest = testSaleUserPhrases.some(phrase => userMessage.includes(phrase));\nconst aiConfirmedTest = testSaleAiPatterns.some(pattern => aiResponseLower.includes(pattern));\n\nif (userMentionedTest && aiConfirmedTest) {\n  triggerTestSaleNotification = true;\n}\n\n// ----------------------------\n// FOLLOW-UP DETECTION\n// ----------------------------\nconst postponementPhrases = [\n  \"not ready\", \"later\", \"another time\", \"set this up later\",\n  \"come back\", \"not yet\", \"few days\", \"don't have this right now\"\n];\n\nlet followUp = null;\n\nif (postponementPhrases.some((phrase) => userMessage.includes(phrase))) {\n  const followUpDate = new Date();\n  followUpDate.setDate(followUpDate.getDate() + 3);\n\n  followUp = {\n    reason: \"user_postponed_step\",\n    follow_up_at: followUpDate.toISOString(),\n    original_message: userMessageRaw\n  };\n}\n\n// ----------------------------\n// Checklist\n// ----------------------------\nconst checklist = {\n  intro: !!(data.clientName && data.companyName),\n  brandedTracking: !!data.rootDomain,\n  productFeed: !!data.productFeedUrl,\n  assets: false,\n  ipAddresses: !!(data.officeIPs && data.officeIPs.length > 0),\n  trackingScripts: false\n};\n\nconst isComplete = Object.values(checklist).every(Boolean);\n\n// ----------------------------\n// Return — ONLY 1 ITEM\n// ----------------------------\nreturn [\n  {\n    json: {\n      response: aiResponse,\n      onboardingData: data,\n      checklist,\n      isComplete,\n      triggerBrandedTrackingNotification,\n      brandedVisitDomain,\n      brandedStaticsDomain,\n      triggerProductFeedNotification,\n      triggerTestSaleNotification,  \n      followUp\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1040,
        400
      ],
      "name": "Process Data"
    },
    {
      "parameters": {
        "jsCode": "// FORCE SINGLE ITEM - second filter\nconst allItems = $input.all();\nconsole.log(\"=== FORCE SINGLE ITEM (After Process) ===\");\nconsole.log(\"Items received:\", allItems.length);\n\nif (allItems.length > 1) {\n  console.log(\"⚠️ WARNING: Received\", allItems.length, \"items! Should be 1!\");\n}\n\n// Return ONLY the last item\nreturn { json: $input.last().json };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -848,
        272
      ],
      "name": "force single item"
    },
    {
      "parameters": {
        "jsCode": "return {\n  response: $('Process Data').item.json.response,\n  onboardingData: $('Process Data').item.json.onboardingData,\n  checklist: $('Process Data').item.json.checklist,\n  isComplete: $('Process Data').item.json.isComplete,\n  followUp: $('Process Data').item.json.followUp\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        272
      ],
      "name": "JS"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{\n  {\n    response: $json.response,\n    onboardingData: $json.onboardingData,\n    checklist: $json.checklist,\n    isComplete: $json.isComplete\n  }\n}}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization"
              }
            ]
          }
        }
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -240,
        272
      ]
    },
    {
      "parameters": {
        "jsCode": "const processData = $input.item.json;\nconst prepareData = $('Prepare Data').item.json;\n\nconst conversationHistory = prepareData.messages || [];\nconst userMessage = prepareData.userMessage || \"\";\nconst aiResponse = processData.response || \"\";\nconst checklist = processData.checklist || {};\nconst onboardingData = processData.onboardingData || {};\n\nconsole.log(\"=== DETECTING LEARNING MOMENTS ===\");\n\nconst learningMoments = [];\nconst userLower = userMessage.toLowerCase();\nconst aiLower = aiResponse.toLowerCase();\n\n// 1. BRANDED TRACKING EXPLAINED SUCCESSFULLY\nif (checklist.brandedTracking && onboardingData.rootDomain) {\n  const previousData = $('Prepare Data').item.json.onboardingData || {};\n  const isFirstTime = !previousData.rootDomain && onboardingData.rootDomain;\n  \n  if (isFirstTime) {\n    learningMoments.push({\n      category: 'branded_tracking_explanation',\n      step: 'brandedTracking',\n      user_context: userMessage,\n      agent_response: aiResponse,\n      outcome: 'client_provided_domain',\n      reason: 'Client successfully understood and provided their domain',\n      conversation_excerpt: conversationHistory.slice(-4).filter(m => m.role !== 'system')\n    });\n    console.log(\"✅ Detected: Successful branded tracking explanation\");\n  }\n}\n\n// 2. DNS/CNAME CONFUSION RESOLVED\nconst dnsConfusionIndicators = [\n  'confused', 'don\\'t understand', 'not sure how', 'what is cname',\n  'how do i', 'never done this', 'can you explain'\n];\nconst dnsTopics = ['cname', 'dns', 'record', 'subdomain', 'domain'];\n\nconst userShowsConfusion = dnsConfusionIndicators.some(phrase => userLower.includes(phrase));\nconst aboutDNS = dnsTopics.some(topic => userLower.includes(topic) || aiLower.includes(topic));\n\nif (userShowsConfusion && aboutDNS && aiResponse.length > 100) {\n  learningMoments.push({\n    category: 'dns_confusion_resolved',\n    step: 'brandedTracking',\n    user_context: userMessage,\n    agent_response: aiResponse,\n    outcome: 'confusion_addressed',\n    reason: 'Agent provided helpful explanation to confused client',\n    conversation_excerpt: conversationHistory.slice(-3).filter(m => m.role !== 'system')\n  });\n  console.log(\"✅ Detected: DNS confusion resolved\");\n}\n\n// 3. GTM IMPLEMENTATION CLARITY\nconst gtmTopics = ['gtm', 'google tag manager', 'tag', 'preview'];\nconst aboutGTM = gtmTopics.some(topic => userLower.includes(topic) || aiLower.includes(topic));\nconst agentClarifiedPreview = aiLower.includes('preview mode') && \n                              (aiLower.includes('cannot') || aiLower.includes('live site'));\n\nif (aboutGTM && agentClarifiedPreview) {\n  learningMoments.push({\n    category: 'gtm_implementation_guidance',\n    step: 'trackingScripts',\n    user_context: userMessage,\n    agent_response: aiResponse,\n    outcome: 'gtm_clarification_provided',\n    reason: 'Agent clarified GTM preview mode limitations',\n    conversation_excerpt: conversationHistory.slice(-3).filter(m => m.role !== 'system')\n  });\n  console.log(\"✅ Detected: GTM implementation clarity provided\");\n}\n\n// 4. PRODUCT FEED SUBMISSION\nif (processData.triggerProductFeedNotification && onboardingData.productFeedUrl) {\n  learningMoments.push({\n    category: 'product_feed_submission',\n    step: 'productFeed',\n    user_context: userMessage,\n    agent_response: aiResponse,\n    outcome: 'feed_url_provided',\n    reason: 'Client successfully provided product feed URL',\n    conversation_excerpt: conversationHistory.slice(-2).filter(m => m.role !== 'system')\n  });\n  console.log(\"✅ Detected: Product feed submission\");\n}\n\n// 5. DELAY HANDLED GRACEFULLY\nif (processData.followUp !== null) {\n  learningMoments.push({\n    category: 'delay_handling',\n    step: 'general',\n    user_context: userMessage,\n    agent_response: aiResponse,\n    outcome: 'follow_up_scheduled',\n    reason: 'Agent gracefully handled client delay request',\n    conversation_excerpt: conversationHistory.slice(-2).filter(m => m.role !== 'system')\n  });\n  console.log(\"✅ Detected: Graceful delay handling\");\n}\n\n// 6. TRACKING TEST COMPLETION\nif (processData.triggerTestSaleNotification) {\n  learningMoments.push({\n    category: 'tracking_test_completion',\n    step: 'trackingScripts',\n    user_context: userMessage,\n    agent_response: aiResponse,\n    outcome: 'test_completed',\n    reason: 'Client successfully completed tracking test',\n    conversation_excerpt: conversationHistory.slice(-3).filter(m => m.role !== 'system')\n  });\n  console.log(\"✅ Detected: Tracking test completion\");\n}\n\n// 7. IP ADDRESSES PROVIDED\nif (onboardingData.officeIPs && onboardingData.officeIPs.length > 0) {\n  const previousIPs = $('Prepare Data').item.json.onboardingData?.officeIPs || [];\n  const newIPs = onboardingData.officeIPs.filter(ip => !previousIPs.includes(ip));\n  \n  if (newIPs.length > 0) {\n    learningMoments.push({\n      category: 'ip_collection',\n      step: 'ipAddresses',\n      user_context: userMessage,\n      agent_response: aiResponse,\n      outcome: 'ips_provided',\n      reason: 'Client provided office IP addresses',\n      conversation_excerpt: conversationHistory.slice(-2).filter(m => m.role !== 'system')\n    });\n    console.log(\"✅ Detected: IP addresses provided\");\n  }\n}\n\n// 8. CLIENT SATISFACTION\nconst satisfactionIndicators = [\n  'perfect', 'great', 'excellent', 'thank you', 'thanks',\n  'that makes sense', 'got it', 'understood', 'clear now'\n];\n\nconst clientSatisfied = satisfactionIndicators.some(phrase => userLower.includes(phrase));\n\nif (clientSatisfied && aiResponse.length > 50) {\n  learningMoments.push({\n    category: 'positive_interaction',\n    step: 'general',\n    user_context: userMessage,\n    agent_response: aiResponse,\n    outcome: 'client_satisfaction',\n    reason: 'Client expressed satisfaction with explanation',\n    conversation_excerpt: conversationHistory.slice(-2).filter(m => m.role !== 'system')\n  });\n  console.log(\"✅ Detected: Client satisfaction\");\n}\n\nconsole.log(`📊 Total learning moments detected: ${learningMoments.length}`);\n\nif (learningMoments.length === 0) {\n  return [];\n}\n\nreturn learningMoments.map(moment => ({\n  json: {\n    ...moment,\n    program_id: onboardingData.programId || null,\n    session_id: prepareData.sessionId || null,\n    client_name: onboardingData.clientName || null,\n    company_name: onboardingData.companyName || null,\n    timestamp: new Date().toISOString()\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -848,
        512
      ],
      "name": "Detect Learning Moments"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "input",
              "value": "=={{ $json.user_context + ' ' + $json.agent_response }}"
            },
            {
              "name": "model",
              "value": "text-embedding-ada-002"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -640,
        512
      ],
      "name": "Generate Embeddings",
      "credentials": {
        "httpHeaderAuth": {
          "id": "WYVZYnTxgBsikx9E",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const learningMoment = $('Detect Learning Moments').item.json;\nconst embeddingResponse = $input.item.json;\n\nconsole.log(\"=== PROCESSING EMBEDDING RESPONSE ===\");\nconsole.log(\"Learning moment category:\", learningMoment.category);\n\nlet embedding;\n\nif (embeddingResponse.data && embeddingResponse.data[0]) {\n  embedding = embeddingResponse.data[0].embedding;\n} else if (embeddingResponse.embedding) {\n  embedding = embeddingResponse.embedding;\n} else if (Array.isArray(embeddingResponse)) {\n  embedding = embeddingResponse;\n} else {\n  console.error(\"❌ Unexpected embedding format:\", embeddingResponse);\n  throw new Error(\"Could not extract embedding from response\");\n}\n\nconsole.log(\"✅ Embedding extracted, length:\", embedding.length);\n\nconst embeddingString = `[${embedding.join(',')}]`;\nconst conversationExcerpt = JSON.stringify(learningMoment.conversation_excerpt || []);\n\nreturn {\n  json: {\n    category: learningMoment.category,\n    step: learningMoment.step,\n    user_context: learningMoment.user_context,\n    agent_response: learningMoment.agent_response,\n    outcome: learningMoment.outcome,\n    conversation_excerpt: conversationExcerpt,\n    program_id: learningMoment.program_id,\n    session_id: learningMoment.session_id,\n    client_name: learningMoment.client_name,\n    company_name: learningMoment.company_name,\n    embedding: embeddingString\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        512
      ],
      "name": "Process Embedding Response"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "successful_conversation_patterns",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "category",
              "displayName": "category",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "step",
              "displayName": "step",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "user_context",
              "displayName": "user_context",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "agent_response",
              "displayName": "agent_response",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "outcome",
              "displayName": "outcome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "conversation_excerpt",
              "displayName": "conversation_excerpt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "program_id",
              "displayName": "program_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "client_name",
              "displayName": "client_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company_name",
              "displayName": "company_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "embedding",
              "displayName": "embedding",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "times_retrieved",
              "displayName": "times_retrieved",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "success_score",
              "displayName": "success_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_used_at",
              "displayName": "last_used_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -240,
        512
      ],
      "name": "Store Pattern in Database",
      "credentials": {
        "postgres": {
          "id": "kpc0xbEzS5TnP8WZ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "conversation_logs_v2",
          "mode": "list",
          "cachedResultName": "conversation_logs_v2"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $('Prepare Data').item.json.sessionId }}",
            "user_message": "={{ $('Prepare Data').item.json.userMessage }}",
            "response": "={{ $json.response }}",
            "iscomplete": "={{ $json.isComplete === true }}",
            "client_name": "={{ $json.onboardingData.clientName }}",
            "company_name": "={{ $json.onboardingData.companyName }}",
            "onboardingdata": "={{ $json.onboardingData }}",
            "checklist": "={{ $json.checklist }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_message",
              "displayName": "user_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "response",
              "displayName": "response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "onboardingdata",
              "displayName": "onboardingdata",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "checklist",
              "displayName": "checklist",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "iscomplete",
              "displayName": "iscomplete",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "client_name",
              "displayName": "client_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_name",
              "displayName": "company_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -640,
        272
      ],
      "name": "log conversation1",
      "credentials": {
        "postgres": {
          "id": "kpc0xbEzS5TnP8WZ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "onboarding-chat",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "name": "Webhook1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2560,
        1632
      ],
      "webhookId": "onboarding-chat"
    },
    {
      "parameters": {
        "jsCode": "// ----------------------------\n// Get incoming data\n// ----------------------------\nconst body = $input.item.json.body || {};\n\nconst userMessage = body.message || \"\";\nconst conversationHistory = body.conversationHistory || [];\nconst onboardingData = body.onboardingData || {};\nconst checklist = body.checklist || {};\n\n// ------------------------------------------------\n// PROGRAM ID HANDLING (reliable + persistent)\n// ------------------------------------------------\nlet programId = body.programId || onboardingData.programId || null;\n\n// Only save programId if valid (avoid undefined/N/A)\nif (programId) {\n  onboardingData.programId = programId;\n}\n\n// Dynamic implementation URL (safe fallback)\nlet implementationUrl = \"\";\nif (onboardingData.programId) {\n  implementationUrl = `https://hst.tradedoubler.com/file/${onboardingData.programId}/implementation.html`;\n}\n\n// ------------------------------------------------\n// SAFETY RULE: Prevent mistakes in client name extraction\n// ------------------------------------------------\nonboardingData.disallowedNames = [\n  \"happy\", \"good\", \"ok\", \"great\", \"fine\", \"yes\", \"yep\", \"sure\", \"okay\"\n];\n\n// ============================================\n// NEW: SEARCH FOR SIMILAR PATTERNS\n// ============================================\n\nlet learningContext = \"\";\n\n// Only search if user message has substance\nif (userMessage.trim().length > 10) {\n  // Detect current topic for filtering\n  const userLower = userMessage.toLowerCase();\n  \n  if (userLower.includes('cname') || userLower.includes('dns') || userLower.includes('subdomain')) {\n    learningContext = `\n    \n📚 LEARNING FROM PAST SUCCESSES:\nWhen clients ask about DNS/CNAME setup, successful approaches include:\n- Using simple analogies (e.g., \"CNAME is like forwarding mail to a different address\")\n- Emphasizing that they're just creating a forwarding rule, not building anything\n- Offering to share DNS provider-specific instructions if they need help\n- Being patient and breaking it down step by step\n`;\n  } else if (userLower.includes('gtm') || userLower.includes('tag manager') || userLower.includes('preview')) {\n    learningContext = `\n    \n📚 LEARNING FROM PAST SUCCESSES:\nFor GTM questions, successful approaches include:\n- Clearly stating that GTM Preview Mode CANNOT validate Tradedoubler tracking\n- Explaining that the test MUST be done on the live site using the official test link\n- Emphasizing that Preview Mode only confirms tags fire, but doesn't reach TD servers\n- Offering to walk them through the proper testing process step by step\n`;\n  } else if (userLower.includes('confused') || userLower.includes('not sure') || userLower.includes('don\\'t understand')) {\n    learningContext = `\n    \n📚 LEARNING FROM PAST SUCCESSES:\nWhen clients express confusion, successful approaches include:\n- Acknowledging their confusion without judgment\n- Breaking down complex topics into simple steps\n- Using real-world analogies that relate to their business\n- Offering to explain in a different way if needed\n- Being patient and encouraging\n`;\n  }\n}\n\n// ------------------------------------------------\n// SYSTEM PROMPT — KEEP YOUR CONTENT, JUST INSERT DYNAMIC VALUES\n// ------------------------------------------------\nconst systemPrompt = `\nYou are an expert onboarding assistant for Tradedoubler, an affiliate marketing network. Guide clients through technical onboarding in a friendly, professional manner. Only greet the user once at the start of the conversation; once the conversation is flowing never repeat greetings such as Hi, Hello or Hey.\n\n${learningContext}\n\nCRITICAL: You MUST follow these steps IN ORDER. After collecting information for one step, AUTOMATICALLY move to the next step. Do NOT ask what the user wants to do - guide them through the process step by step.\n\nOnboarding steps:\n1. BRANDED TRACKING: Two subdomains (visit.clientdomain.com and statics.clientdomain.com).\nFIRST: Get client name and company name if you don't have them yet.\n\nIMPORTANT: You may ONLY extract a client name if the user explicitly says:\n- \"my name is Mark\"\n- \"I'm Phil\"\n- \"I am Alice\"\n- \"this is Tom\"\nIF the user simply says \"I am happy\" or \"yes I am happy\", DO NOT treat this as a name.\n\nTHEN: IMMEDIATELY (without asking what they want) give this branded tracking paragraph:\n\"To combat the increasing challenges of Browser Privacy settings and Adblockers on tracking technology Tradedoubler has launched Branded Tracking. This solution will mask Tradedoubler tracking scripts under your own domain, preventing them from being disrupted. Branded Tracking also comes with the added benefit of masking publisher click links under your domain as well, creating a more positive user journey for consumers. \nTo set this up, we will need two new subdomains — one for ad serving and one for tracking. You don't need to configure the subdomains on your end; we only require their names so we can register them in our system. Once the domain names are confirmed, I'll provide you with the CNAME DNS records needed to establish the connection.\"\nAFTER: Ask for their website domain.\nOnce the client confirms they are happy with the subdomains, you MUST repeat the final branded domains explicitly (visit.[rootDomain] and statics.[rootDomain]) and say they have been sent to the technical team.\n\nWhen confirming branded tracking domains, NEVER omit the domains. ALWAYS repeat both domains explicitly.\n\n2. PRODUCT FEED:\n- Ask for the feed URL\n- Validate accessibility\n- Once the feed link is provided, respond EXACTLY like:\n\"Perfect! I've received your product feed URL. I'm now connecting it to our AI-powered mapping system. I'll send you an email once it's complete. In the meantime, let's move on to uploading your program assets.\"\n\n3. PROGRAM ASSETS:\n- Logo (350x130)\n- Ads (160x600, 300x250, 300x600, 728x90, 928x70)\n- T&Cs\n\n4. OFFICE IP ADDRESSES:\n- Ask for IPs to blacklist internal staff\n\n5. TRACKING SCRIPTS:\nSay:\n\"Perfect! Now that your domains are confirmed, here are your tracking scripts:\n\n📄 Implementation File: ${implementationUrl}\n\nThis file contains:\n• Landing page script (for all pages)\n• Confirmation page script (for thank-you/order confirmation page)\n• Test link for verification\n\nNEXT STEPS:\n1. Integrate the scripts into your website following the instructions in the file\n2. Once integrated, use the test link provided to complete a test transaction\n3. This will verify that tracking is working correctly\n\nWould you like me to walk you through the integration process, or do you have a developer who will handle this?\"\n\nIMPORTANT: GTM Preview Mode is ONLY for checking that tags fire correctly.\nYou CANNOT validate Tradedoubler tracking in Preview Mode because the test click link will not load inside preview and the pixel will not reach the Tradedoubler servers.\n\nReal tracking tests MUST be done on the live site using the official Tradedoubler test link — outside of GTM Preview Mode.\n\nIMPORTANT: Once the user confirms they have completed a test sale, say:\n\"Great! Thanks for testing. I have sent a message through to our technical team to verify if the tracking is live.\"\n\nCRITICAL — TRACKING SCRIPT RULES:\nIMPORTANT: Clarification about Google Tag Manager (GTM) usage:\n\nTradedoubler DOES allow the use of the GTM dataLayer, but ONLY for the purpose of \npassing dynamic transaction parameters (order number, order value, currency, \nvoucher, products, etc.) into the GTM confirmation tag.\n\nGTM's dataLayer is NOT used for firing Tradedoubler conversions.\n\nThe ONLY valid tracking mechanism is:\nvar TDConversion = {\n  transactionId: '[ORDER_NUMBER]',\n  ordervalue: '[ORDER_VALUE]',\n  currency: '[CURRENCY]',\n  event: [EVENT_ID],\n  voucher: '[VOUCHER]',\n  cdt: { extId: '[EXITID]', extType: 1 },\n  validOn: '[VALID_ON]',\n  products: '[PRODUCT_DATA]'\n};\ntdconv('track', 'sale', TDConversion);\ntdfallback('https://a.imgstatic.eu/trsdk');\n\nYou MUST guide the user by referring to the Tradedoubler GTM manual.\n\nBe warm, ask one question at a time, celebrate progress, and acknowledge information clearly.\n\nCurrent progress:\n- Client: ${onboardingData.clientName || 'Not provided'}\n- Company: ${onboardingData.companyName || 'Not provided'}\n- Completed steps: ${Object.values(checklist).filter(Boolean).length}/6\n`;\n\n// ----------------------------\n// Messages\n// ----------------------------\nconst messages = [\n  { role: \"system\", content: systemPrompt },\n  ...conversationHistory,\n  { role: \"user\", content: userMessage }\n];\n\n// ----------------------------\n// Return clean payload\n// ----------------------------\nreturn {\n  messages,\n  systemPrompt,\n  userMessage,\n  onboardingData,\n  checklist,\n  sessionId: body.sessionId || null\n};"
      },
      "name": "Prepare Data1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2368,
        1632
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ \n$json.systemPrompt \n+ \"\\n\\nMost Recent User Message:\\n\"\n+ $json.userMessage \n+ \"\\n\\nConversation so far:\\n\" \n+ $json.messages.filter(m => m.role !== 'system').map(m => m.role + ': ' + m.content).join('\\n') \n}}",
        "options": {
          "returnIntermediateSteps": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -1248,
        1632
      ],
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1568,
        1888
      ],
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "L4g2aVcKF4eab59w",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Searches the Tradedoubler technical knowledge base.\n\nUSE THIS TOOL for any question involving:\n- \"why\", \"how\", \"what is\", \"what if\", \"can you explain\"\n- tracking implementation (landing/confirmation scripts)\n- branded tracking (visit. / statics. domains, first-party cookies)\n- DNS setup / CNAME configuration\n- GTM integration, dataLayer, tag sequencing\n- testing and troubleshooting\n- product feeds (XML/CSV), feed rules, product attributes\n- consent management & GDPR\n- Safari ITP, TDUID, cookies, trsdk, tdconv\n\nHOW TO USE RESULTS:\n1. Prefer chunks where metadata.embedding_role = \"content\".\n2. Use metadata.embedding_role = \"title\" and \"keywords\" to improve relevance\n   when the user's query is ambiguous or broad.\n3. Use metadata.semantic_category to focus retrieval on the correct topic:\n   - dns-setup\n   - branded-tracking\n   - conversion-tracking\n   - gtm-implementation\n   - product-feed\n   - compliance\n   - testing\n4. Use metadata.search_text to match intent, terminology, and synonyms.\n5. Base ALL technical answers STRICTLY on the retrieved chunks.\n6. If the retrieved documents do not contain the required information,\n   clearly state that the documentation does not cover it.\n\nYou MUST call this tool before answering any technical question.\nYou MUST ground your answers in the retrieved documentation.",
        "tableName": {
          "__rl": true,
          "value": "documents_v3",
          "mode": "list",
          "cachedResultName": "documents_v3"
        },
        "topK": 6,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -1088,
        1888
      ],
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "b5IZZso0TIYWpJI3",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1216,
        2048
      ],
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "L4g2aVcKF4eab59w",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook1').item.json.body.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -1392,
        1888
      ],
      "name": "Postgres Chat Memory1",
      "credentials": {
        "postgres": {
          "id": "kpc0xbEzS5TnP8WZ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Force SINGLE execution - log for debugging\nconst allItems = $input.all();\nconsole.log(\"=== TAKE LAST ITEM ===\");\nconsole.log(\"Total items received:\", allItems.length);\n\n// Return ONLY the very last item\nconst lastItem = $input.last().json;\nconsole.log(\"Returning last item:\", { hasOutput: !!lastItem.output, hasText: !!lastItem.text });\n\nreturn { json: lastItem };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -944,
        1632
      ],
      "name": "Take Last Item1"
    },
    {
      "parameters": {
        "jsCode": "// ----------------------------\n// ALWAYS process only the final output of AI Agent\n// ----------------------------\nconst input = $input.last().json;\n\n// ----------------------------\n// Extract AI response\n// ----------------------------\nconst aiResponse = input.output || input.text || \"\";\nconst aiResponseLower = aiResponse.toLowerCase();\n\n// ----------------------------\n// Load onboarding data from Prepare Data (PERSISTENT)\n// ----------------------------\nlet data = $('Prepare Data1').item.json.onboardingData || {};\n\nconsole.log(\"=== ONBOARDING DATA DEBUG ===\");\nconsole.log(\"Loaded data:\", JSON.stringify(data, null, 2));\n\n// ----------------------------\n// Extract user message from Prepare Data\n// ----------------------------\nconst userMessageRaw = $('Prepare Data1').item.json.userMessage || \"\";\nconst userMessage = userMessageRaw.trim().toLowerCase();\n\n// ----------------------------\n// Name extraction (fixed to avoid \"happy\")\n// ----------------------------\nif (!data.clientName) {\n  const nameMatch = userMessage.match(/\\b(?:my name is|i am|i'm|im|this is)\\s+([a-z]+)\\b/i);\n  if (nameMatch) {\n    const extracted = nameMatch[1].toLowerCase();\n    \n    // Prevent false positives like \"happy\", \"good\", \"ok\"\n    const invalidNames = [\"happy\", \"ok\", \"test\", \"great\", \"fine\", \"good\"];\n    if (!invalidNames.includes(extracted)) {\n      data.clientName = extracted.charAt(0).toUpperCase() + extracted.slice(1);\n    }\n  }\n}\n\n// ----------------------------\n// Extract company\n// ----------------------------\nif (!data.companyName) {\n  const companyMatch = userMessage.match(/\\b(?:work at|from|with|representing|company)\\s+([a-z0-9&\\s]+)\\b/i);\n  if (companyMatch) {\n    data.companyName = companyMatch[1].trim();\n  }\n}\n\n// ----------------------------\n// Root domain extraction\n// ----------------------------\nconst domainMatch = userMessage.match(/([a-z0-9-]+\\.[a-z]{2,}(?:\\.[a-z]{2,})?)/i);\nif (domainMatch) {\n  const clean = domainMatch[0].replace(/^(https?:\\/\\/)?(www\\.)?/, \"\");\n  data.rootDomain = clean;\n  data.visitSubdomain = `visit.${clean}`;\n  data.staticsSubdomain = `statics.${clean}`;\n}\n\n// ----------------------------\n// Product feed URL extraction\n// ----------------------------\nconst linkMatch = userMessage.match(/https?:\\/\\/[^\\s]+/i);\nif (linkMatch && (userMessage.includes(\"feed\") || userMessage.includes(\"product\"))) {\n  data.productFeedUrl = linkMatch[0];\n}\n\n// Detect feed format\nif (data.productFeedUrl) {\n  if (data.productFeedUrl.toLowerCase().endsWith(\".xml\")) {\n    data.feedFormat = \"XML\";\n  } else if (data.productFeedUrl.toLowerCase().endsWith(\".csv\")) {\n    data.feedFormat = \"CSV\";\n  }\n}\n\n// ----------------------------\n// Extract IPs\n// ----------------------------\nif (userMessage.match(/\\b\\d{1,3}(\\.\\d{1,3}){3}\\b/)) {\n  const ips = userMessage.match(/\\b\\d{1,3}(\\.\\d{1,3}){3}\\b/g);\n  data.officeIPs = [...(data.officeIPs || []), ...ips];\n}\n\nconsole.log(\"=== DATA AFTER EXTRACTION ===\");\nconsole.log(JSON.stringify(data, null, 2));\n\n// ----------------------------\n// Detect branded tracking confirmation (ONLY PAST TENSE)\n// ----------------------------\nlet triggerBrandedTrackingNotification = false;\nlet brandedVisitDomain = null;\nlet brandedStaticsDomain = null;\n\nconst brandedPatterns = [\n  \"sent to the technical team\",\n  \"sent to our technical team\",\n  \"forwarded to the technical team\",\n  \"submitted to the technical team\"\n];\n\nlet matchedPattern = null;\nbrandedPatterns.forEach(pattern => {\n  if (aiResponseLower.includes(pattern)) {\n    matchedPattern = pattern;\n  }\n});\n\nif (matchedPattern) {\n  triggerBrandedTrackingNotification = true;\n  \n  const visitMatch = aiResponse.match(/visit\\.[a-z0-9.-]+\\.[a-z]{2,}/i);\n  const staticsMatch = aiResponse.match(/statics\\.[a-z0-9.-]+\\.[a-z]{2,}/i);\n  \n  brandedVisitDomain = visitMatch?.[0] || null;\n  brandedStaticsDomain = staticsMatch?.[0] || null;\n  \n  if (data.rootDomain) {\n    if (!brandedVisitDomain) brandedVisitDomain = `visit.${data.rootDomain}`;\n    if (!brandedStaticsDomain) brandedStaticsDomain = `statics.${data.rootDomain}`;\n  }\n}\n\n// ----------------------------\n// Detect product feed submission\n// ----------------------------\nlet triggerProductFeedNotification = false;\n\nconst productFeedPatterns = [\n  \"received your product feed url\",\n  \"i've received your product feed\",\n  \"connecting it to our ai-powered mapping system\"\n];\n\nproductFeedPatterns.forEach(pattern => {\n  if (aiResponseLower.includes(pattern) && data.productFeedUrl) {\n    triggerProductFeedNotification = true;\n  }\n});\n\n// ----------------------------\n// Detect test sale completion\n// ----------------------------\nlet triggerTestSaleNotification = false;\n\nconst testSaleUserPhrases = [\n  \"completed a test sale\",\n  \"completed the test sale\",\n  \"done a test sale\",\n  \"finished the test\",\n  \"completed a test\"\n];\n\nconst testSaleAiPatterns = [\n  \"sent a message through to our technical team to verify\",\n  \"technical team to verify if the tracking is live\"\n];\n\nconst userMentionedTest = testSaleUserPhrases.some(phrase => userMessage.includes(phrase));\nconst aiConfirmedTest = testSaleAiPatterns.some(pattern => aiResponseLower.includes(pattern));\n\nif (userMentionedTest && aiConfirmedTest) {\n  triggerTestSaleNotification = true;\n}\n\n// ----------------------------\n// FOLLOW-UP DETECTION\n// ----------------------------\nconst postponementPhrases = [\n  \"not ready\", \"later\", \"another time\", \"set this up later\",\n  \"come back\", \"not yet\", \"few days\", \"don't have this right now\"\n];\n\nlet followUp = null;\n\nif (postponementPhrases.some((phrase) => userMessage.includes(phrase))) {\n  const followUpDate = new Date();\n  followUpDate.setDate(followUpDate.getDate() + 3);\n\n  followUp = {\n    reason: \"user_postponed_step\",\n    follow_up_at: followUpDate.toISOString(),\n    original_message: userMessageRaw\n  };\n}\n\n// ----------------------------\n// Checklist\n// ----------------------------\nconst checklist = {\n  intro: !!(data.clientName && data.companyName),\n  brandedTracking: !!data.rootDomain,\n  productFeed: !!data.productFeedUrl,\n  assets: false,\n  ipAddresses: !!(data.officeIPs && data.officeIPs.length > 0),\n  trackingScripts: false\n};\n\nconst isComplete = Object.values(checklist).every(Boolean);\n\n// ----------------------------\n// Return — ONLY 1 ITEM\n// ----------------------------\nreturn [\n  {\n    json: {\n      response: aiResponse,\n      onboardingData: data,\n      checklist,\n      isComplete,\n      triggerBrandedTrackingNotification,\n      brandedVisitDomain,\n      brandedStaticsDomain,\n      triggerProductFeedNotification,\n      triggerTestSaleNotification,  \n      followUp\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -768,
        1632
      ],
      "name": "Process Data1"
    },
    {
      "parameters": {
        "jsCode": "// FORCE SINGLE ITEM - second filter\nconst allItems = $input.all();\nconsole.log(\"=== FORCE SINGLE ITEM (After Process) ===\");\nconsole.log(\"Items received:\", allItems.length);\n\nif (allItems.length > 1) {\n  console.log(\"⚠️ WARNING: Received\", allItems.length, \"items! Should be 1!\");\n}\n\n// Return ONLY the last item\nreturn { json: $input.last().json };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -576,
        1504
      ],
      "name": "force single item1"
    },
    {
      "parameters": {
        "jsCode": "return {\n  response: $('Process Data1').item.json.response,\n  onboardingData: $('Process Data1').item.json.onboardingData,\n  checklist: $('Process Data1').item.json.checklist,\n  isComplete: $('Process Data1').item.json.isComplete,\n  followUp: $('Process Data1').item.json.followUp\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        1504
      ],
      "name": "JS1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{\n  {\n    response: $json.response,\n    onboardingData: $json.onboardingData,\n    checklist: $json.checklist,\n    isComplete: $json.isComplete\n  }\n}}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization"
              }
            ]
          }
        }
      },
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        32,
        1504
      ]
    },
    {
      "parameters": {
        "jsCode": "const processData = $input.item.json;\nconst prepareData = $('Prepare Data1').item.json;\n\nconst conversationHistory = prepareData.messages || [];\nconst userMessage = prepareData.userMessage || \"\";\nconst aiResponse = processData.response || \"\";\nconst checklist = processData.checklist || {};\nconst onboardingData = processData.onboardingData || {};\n\nconsole.log(\"=== DETECTING LEARNING MOMENTS ===\");\n\nconst learningMoments = [];\nconst userLower = userMessage.toLowerCase();\nconst aiLower = aiResponse.toLowerCase();\n\n// 1. BRANDED TRACKING EXPLAINED SUCCESSFULLY\nif (checklist.brandedTracking && onboardingData.rootDomain) {\n  const previousData = $('Prepare Data1').item.json.onboardingData || {};\n  const isFirstTime = !previousData.rootDomain && onboardingData.rootDomain;\n  \n  if (isFirstTime) {\n    learningMoments.push({\n      category: 'branded_tracking_explanation',\n      step: 'brandedTracking',\n      user_context: userMessage,\n      agent_response: aiResponse,\n      outcome: 'client_provided_domain',\n      reason: 'Client successfully understood and provided their domain',\n      conversation_excerpt: conversationHistory.slice(-4).filter(m => m.role !== 'system')\n    });\n    console.log(\"✅ Detected: Successful branded tracking explanation\");\n  }\n}\n\n// 2. DNS/CNAME CONFUSION RESOLVED\nconst dnsConfusionIndicators = [\n  'confused', 'don\\'t understand', 'not sure how', 'what is cname',\n  'how do i', 'never done this', 'can you explain'\n];\nconst dnsTopics = ['cname', 'dns', 'record', 'subdomain', 'domain'];\n\nconst userShowsConfusion = dnsConfusionIndicators.some(phrase => userLower.includes(phrase));\nconst aboutDNS = dnsTopics.some(topic => userLower.includes(topic) || aiLower.includes(topic));\n\nif (userShowsConfusion && aboutDNS && aiResponse.length > 100) {\n  learningMoments.push({\n    category: 'dns_confusion_resolved',\n    step: 'brandedTracking',\n    user_context: userMessage,\n    agent_response: aiResponse,\n    outcome: 'confusion_addressed',\n    reason: 'Agent provided helpful explanation to confused client',\n    conversation_excerpt: conversationHistory.slice(-3).filter(m => m.role !== 'system')\n  });\n  console.log(\"✅ Detected: DNS confusion resolved\");\n}\n\n// 3. GTM IMPLEMENTATION CLARITY\nconst gtmTopics = ['gtm', 'google tag manager', 'tag', 'preview'];\nconst aboutGTM = gtmTopics.some(topic => userLower.includes(topic) || aiLower.includes(topic));\nconst agentClarifiedPreview = aiLower.includes('preview mode') && \n                              (aiLower.includes('cannot') || aiLower.includes('live site'));\n\nif (aboutGTM && agentClarifiedPreview) {\n  learningMoments.push({\n    category: 'gtm_implementation_guidance',\n    step: 'trackingScripts',\n    user_context: userMessage,\n    agent_response: aiResponse,\n    outcome: 'gtm_clarification_provided',\n    reason: 'Agent clarified GTM preview mode limitations',\n    conversation_excerpt: conversationHistory.slice(-3).filter(m => m.role !== 'system')\n  });\n  console.log(\"✅ Detected: GTM implementation clarity provided\");\n}\n\n// 4. PRODUCT FEED SUBMISSION\nif (processData.triggerProductFeedNotification && onboardingData.productFeedUrl) {\n  learningMoments.push({\n    category: 'product_feed_submission',\n    step: 'productFeed',\n    user_context: userMessage,\n    agent_response: aiResponse,\n    outcome: 'feed_url_provided',\n    reason: 'Client successfully provided product feed URL',\n    conversation_excerpt: conversationHistory.slice(-2).filter(m => m.role !== 'system')\n  });\n  console.log(\"✅ Detected: Product feed submission\");\n}\n\n// 5. DELAY HANDLED GRACEFULLY\nif (processData.followUp !== null) {\n  learningMoments.push({\n    category: 'delay_handling',\n    step: 'general',\n    user_context: userMessage,\n    agent_response: aiResponse,\n    outcome: 'follow_up_scheduled',\n    reason: 'Agent gracefully handled client delay request',\n    conversation_excerpt: conversationHistory.slice(-2).filter(m => m.role !== 'system')\n  });\n  console.log(\"✅ Detected: Graceful delay handling\");\n}\n\n// 6. TRACKING TEST COMPLETION\nif (processData.triggerTestSaleNotification) {\n  learningMoments.push({\n    category: 'tracking_test_completion',\n    step: 'trackingScripts',\n    user_context: userMessage,\n    agent_response: aiResponse,\n    outcome: 'test_completed',\n    reason: 'Client successfully completed tracking test',\n    conversation_excerpt: conversationHistory.slice(-3).filter(m => m.role !== 'system')\n  });\n  console.log(\"✅ Detected: Tracking test completion\");\n}\n\n// 7. IP ADDRESSES PROVIDED\nif (onboardingData.officeIPs && onboardingData.officeIPs.length > 0) {\n  const previousIPs = $('Prepare Data1').item.json.onboardingData?.officeIPs || [];\n  const newIPs = onboardingData.officeIPs.filter(ip => !previousIPs.includes(ip));\n  \n  if (newIPs.length > 0) {\n    learningMoments.push({\n      category: 'ip_collection',\n      step: 'ipAddresses',\n      user_context: userMessage,\n      agent_response: aiResponse,\n      outcome: 'ips_provided',\n      reason: 'Client provided office IP addresses',\n      conversation_excerpt: conversationHistory.slice(-2).filter(m => m.role !== 'system')\n    });\n    console.log(\"✅ Detected: IP addresses provided\");\n  }\n}\n\n// 8. CLIENT SATISFACTION\nconst satisfactionIndicators = [\n  'perfect', 'great', 'excellent', 'thank you', 'thanks',\n  'that makes sense', 'got it', 'understood', 'clear now'\n];\n\nconst clientSatisfied = satisfactionIndicators.some(phrase => userLower.includes(phrase));\n\nif (clientSatisfied && aiResponse.length > 50) {\n  learningMoments.push({\n    category: 'positive_interaction',\n    step: 'general',\n    user_context: userMessage,\n    agent_response: aiResponse,\n    outcome: 'client_satisfaction',\n    reason: 'Client expressed satisfaction with explanation',\n    conversation_excerpt: conversationHistory.slice(-2).filter(m => m.role !== 'system')\n  });\n  console.log(\"✅ Detected: Client satisfaction\");\n}\n\nconsole.log(`📊 Total learning moments detected: ${learningMoments.length}`);\n\nif (learningMoments.length === 0) {\n  return [];\n}\n\nreturn learningMoments.map(moment => ({\n  json: {\n    ...moment,\n    program_id: onboardingData.programId || null,\n    session_id: prepareData.sessionId || null,\n    client_name: onboardingData.clientName || null,\n    company_name: onboardingData.companyName || null,\n    timestamp: new Date().toISOString()\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -576,
        1744
      ],
      "name": "Detect Learning Moments1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "input",
              "value": "=={{ $json.user_context + ' ' + $json.agent_response }}"
            },
            {
              "name": "model",
              "value": "text-embedding-ada-002"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -368,
        1744
      ],
      "name": "Generate Embeddings1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "WYVZYnTxgBsikx9E",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const learningMoment = $('Detect Learning Moments1').item.json;\nconst embeddingResponse = $input.item.json;\n\nconsole.log(\"=== PROCESSING EMBEDDING RESPONSE ===\");\nconsole.log(\"Learning moment category:\", learningMoment.category);\n\nlet embedding;\n\nif (embeddingResponse.data && embeddingResponse.data[0]) {\n  embedding = embeddingResponse.data[0].embedding;\n} else if (embeddingResponse.embedding) {\n  embedding = embeddingResponse.embedding;\n} else if (Array.isArray(embeddingResponse)) {\n  embedding = embeddingResponse;\n} else {\n  console.error(\"❌ Unexpected embedding format:\", embeddingResponse);\n  throw new Error(\"Could not extract embedding from response\");\n}\n\nconsole.log(\"✅ Embedding extracted, length:\", embedding.length);\n\nconst embeddingString = `[${embedding.join(',')}]`;\nconst conversationExcerpt = JSON.stringify(learningMoment.conversation_excerpt || []);\n\nreturn {\n  json: {\n    category: learningMoment.category,\n    step: learningMoment.step,\n    user_context: learningMoment.user_context,\n    agent_response: learningMoment.agent_response,\n    outcome: learningMoment.outcome,\n    conversation_excerpt: conversationExcerpt,\n    program_id: learningMoment.program_id,\n    session_id: learningMoment.session_id,\n    client_name: learningMoment.client_name,\n    company_name: learningMoment.company_name,\n    embedding: embeddingString\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        1744
      ],
      "name": "Process Embedding Response1"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "successful_conversation_patterns",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "category",
              "displayName": "category",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "step",
              "displayName": "step",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "user_context",
              "displayName": "user_context",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "agent_response",
              "displayName": "agent_response",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "outcome",
              "displayName": "outcome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "conversation_excerpt",
              "displayName": "conversation_excerpt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "program_id",
              "displayName": "program_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "client_name",
              "displayName": "client_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company_name",
              "displayName": "company_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "embedding",
              "displayName": "embedding",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "times_retrieved",
              "displayName": "times_retrieved",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "success_score",
              "displayName": "success_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_used_at",
              "displayName": "last_used_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        32,
        1744
      ],
      "name": "Store Pattern in Database1",
      "credentials": {
        "postgres": {
          "id": "kpc0xbEzS5TnP8WZ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "conversation_logs_v2",
          "mode": "list",
          "cachedResultName": "conversation_logs_v2"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $('Prepare Data1').item.json.sessionId }}",
            "user_message": "={{ $('Prepare Data1').item.json.userMessage }}",
            "response": "={{ $json.response }}",
            "iscomplete": "={{ $json.isComplete === true }}",
            "client_name": "={{ $json.onboardingData.clientName }}",
            "company_name": "={{ $json.onboardingData.companyName }}",
            "onboardingdata": "={{ $json.onboardingData }}",
            "checklist": "={{ $json.checklist }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_message",
              "displayName": "user_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "response",
              "displayName": "response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "onboardingdata",
              "displayName": "onboardingdata",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "checklist",
              "displayName": "checklist",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "iscomplete",
              "displayName": "iscomplete",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "client_name",
              "displayName": "client_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_name",
              "displayName": "company_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -368,
        1504
      ],
      "name": "log conversation",
      "credentials": {
        "postgres": {
          "id": "kpc0xbEzS5TnP8WZ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "input",
              "value": "=={{ $json.userMessage }}"
            },
            {
              "name": "model",
              "value": "text-embedding-ada-002"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2208,
        1632
      ],
      "name": "Generate Query Embedding",
      "credentials": {
        "httpHeaderAuth": {
          "id": "WYVZYnTxgBsikx9E",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const embeddingResponse = $input.item.json;\n\nconsole.log(\"=== PROCESSING QUERY EMBEDDING ===\" );\n\n// Extract embedding from OpenAI response\nlet embedding;\n\nif (embeddingResponse.data && embeddingResponse.data[0]) {\n  embedding = embeddingResponse.data[0].embedding;\n} else if (embeddingResponse.embedding) {\n  embedding = embeddingResponse.embedding;\n} else if (Array.isArray(embeddingResponse)) {\n  embedding = embeddingResponse;\n} else {\n  console.error(\"❌ Unexpected embedding format:\", embeddingResponse);\n  throw new Error(\"Could not extract embedding from response\");\n}\n\nconsole.log(\"✅ Query embedding extracted, length:\", embedding.length);\n\n// Format as PostgreSQL vector string\nconst embeddingString = `[${embedding.join(',')}]`;\n\n// Get user message from Prepare Data\nconst prepareData = $('Prepare Data').item.json;\n\nreturn {\n  json: {\n    queryEmbedding: embeddingString,\n    userMessage: prepareData.userMessage,\n    // Pass through all data needed later\n    messages: prepareData.messages,\n    systemPrompt: prepareData.systemPrompt,\n    onboardingData: prepareData.onboardingData,\n    checklist: prepareData.checklist,\n    sessionId: prepareData.sessionId\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2032,
        1632
      ],
      "name": "Process Query Embedding"
    },
    {
      "parameters": {
        "jsCode": "const userMessage = $json.userMessage.toLowerCase();\n\nconsole.log(\"=== DETECTING CATEGORY ===\" );\n\n// Detect category based on keywords\nlet category = null;\nlet step = null;\n\nif (userMessage.includes('cname') || userMessage.includes('dns') || userMessage.includes('subdomain')) {\n  category = 'dns_confusion_resolved';\n  step = 'brandedTracking';\n  console.log(\"✅ Detected: DNS/CNAME question\");\n} else if (userMessage.includes('gtm') || userMessage.includes('tag manager') || userMessage.includes('preview')) {\n  category = 'gtm_implementation_guidance';\n  step = 'trackingScripts';\n  console.log(\"✅ Detected: GTM question\");\n} else if (userMessage.includes('confused') || userMessage.includes('not sure') || userMessage.includes('don\\'t understand')) {\n  category = 'positive_interaction';\n  step = 'general';\n  console.log(\"✅ Detected: Confusion/help needed\");\n} else if (userMessage.includes('feed') || userMessage.includes('product')) {\n  category = 'product_feed_submission';\n  step = 'productFeed';\n  console.log(\"✅ Detected: Product feed question\");\n} else if (userMessage.includes('test') || userMessage.includes('tracking')) {\n  category = 'tracking_test_completion';\n  step = 'trackingScripts';\n  console.log(\"✅ Detected: Tracking/testing question\");\n} else {\n  console.log(\"⚠️ No specific category detected, will search all\");\n}\n\nreturn {\n  json: {\n    ...$json,\n    detectedCategory: category,\n    detectedStep: step\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1840,
        1632
      ],
      "name": "Detect Category Position"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  user_context,\n  agent_response,\n  outcome,\n  category,\n  step,\n  embedding <=> $1::vector AS similarity_score\nFROM successful_conversation_patterns\nWHERE \n  CASE \n    WHEN $2::text IS NOT NULL THEN category = $2::text\n    ELSE TRUE\n  END\n  AND embedding <=> $1::vector < 0.75\nORDER BY embedding <=> $1::vector\nLIMIT 3;",
        "options": {
          "queryReplacement": "=={{ $json.queryEmbedding }}, {{ $json.detectedCategory }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1632,
        1632
      ],
      "name": "Search Similar Patterns Position",
      "credentials": {
        "postgres": {
          "id": "kpc0xbEzS5TnP8WZ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const patterns = $input.all();\nconst detectData = $('Detect Category').item.json;\n\nconsole.log(\"=== FORMATTING LEARNING CONTEXT ===\" );\nconsole.log(\"Patterns retrieved:\", patterns.length);\n\nlet learningContext = \"\";\n\nif (patterns.length > 0) {\n  learningContext = `\n\n📚 LEARNING FROM PAST SUCCESSES:\nBased on ${patterns.length} similar past conversation${patterns.length > 1 ? 's' : ''}:\n\n${patterns.map((p, i) => {\n  const similarity = (1 - p.json.similarity_score) * 100;\n  return `\n${i + 1}. [${similarity.toFixed(0)}% similar] ${p.json.category.replace(/_/g, ' ')}\n   Client asked: \"${p.json.user_context.substring(0, 150)}${p.json.user_context.length > 150 ? '...' : ''}\"\n   \n   Successful approach: \"${p.json.agent_response.substring(0, 250)}${p.json.agent_response.length > 250 ? '...' : ''}\"\n   \n   Outcome: ${p.json.outcome.replace(/_/g, ' ')}\n`;\n}).join('\\n')}\n\nApply these proven approaches to the current question when relevant.\n`;\n\n  console.log(\"✅ Learning context created with\", patterns.length, \"patterns\");\n} else {\n  console.log(\"⚠️ No similar patterns found, using base knowledge\");\n}\n\n// Get original system prompt from Prepare Data\nconst prepareData = $('Prepare Data').item.json;\nconst originalPrompt = prepareData.systemPrompt;\n\n// Inject learning context into system prompt\n// Find where to insert (after \"You are an expert...\" but before \"CRITICAL:\")\nconst insertPoint = originalPrompt.indexOf('CRITICAL:');\nconst beforeCritical = originalPrompt.substring(0, insertPoint);\nconst afterCritical = originalPrompt.substring(insertPoint);\n\nconst enhancedSystemPrompt = beforeCritical + learningContext + '\\n\\n' + afterCritical;\n\nreturn {\n  json: {\n    messages: [\n      { role: \"system\", content: enhancedSystemPrompt },\n      ...detectData.messages.filter(m => m.role !== 'system')\n    ],\n    systemPrompt: enhancedSystemPrompt,\n    userMessage: detectData.userMessage,\n    onboardingData: detectData.onboardingData,\n    checklist: detectData.checklist,\n    sessionId: detectData.sessionId\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1424,
        1632
      ],
      "name": "Format Learning Context"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Prepare Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Data": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Take Last Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Take Last Item": {
      "main": [
        [
          {
            "node": "Process Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Data": {
      "main": [
        [
          {
            "node": "force single item",
            "type": "main",
            "index": 0
          },
          {
            "node": "Detect Learning Moments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "force single item": {
      "main": [
        [
          {
            "node": "log conversation1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JS": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Learning Moments": {
      "main": [
        [
          {
            "node": "Generate Embeddings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Embeddings": {
      "main": [
        [
          {
            "node": "Process Embedding Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Embedding Response": {
      "main": [
        [
          {
            "node": "Store Pattern in Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "log conversation1": {
      "main": [
        [
          {
            "node": "JS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Prepare Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Data1": {
      "main": [
        [
          {
            "node": "Generate Query Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Take Last Item1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Take Last Item1": {
      "main": [
        [
          {
            "node": "Process Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Data1": {
      "main": [
        [
          {
            "node": "force single item1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Detect Learning Moments1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "force single item1": {
      "main": [
        [
          {
            "node": "log conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JS1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Learning Moments1": {
      "main": [
        [
          {
            "node": "Generate Embeddings1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Embeddings1": {
      "main": [
        [
          {
            "node": "Process Embedding Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Embedding Response1": {
      "main": [
        [
          {
            "node": "Store Pattern in Database1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "log conversation": {
      "main": [
        [
          {
            "node": "JS1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Query Embedding": {
      "main": [
        [
          {
            "node": "Process Query Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Query Embedding": {
      "main": [
        [
          {
            "node": "Detect Category Position",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Category Position": {
      "main": [
        [
          {
            "node": "Search Similar Patterns Position",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Similar Patterns Position": {
      "main": [
        [
          {
            "node": "Format Learning Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Learning Context": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "tags": [],
  "active": false
}