workflows/coe_n8n_coe_untrust_eu_de_prod_tddrift/Chunking & MultiVector DB - Superbase.json
{
  "id": "jPjeaM6ftrbMGCgz",
  "name": "Chunking & MultiVector DB - Superbase",
  "nodes": [
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        352,
        432
      ]
    },
    {
      "parameters": {
        "jsCode": "// ---------------------------\n// Tradedoubler + GTM Knowledge Base\n// Granular documents for better RAG\n// ---------------------------\n\nconst documents = [\n\n  // -------------------------\n  // BRANDED TRACKING & DNS\n  // -------------------------\n  {\n    pageContent: \"BRANDED TRACKING - OVERVIEW\\n\\nBranded tracking uses the client's own subdomains (for example, visit.example.com and statics.example.com) instead of generic Tradedoubler tracking domains. This makes tracking first-party, more reliable in modern browsers and less likely to be blocked by ad blockers.\\n\\nKey benefits:\\n- Better tracking accuracy in Safari and other privacy-focused browsers\\n- Less disruption from ad blockers\\n- Improved user trust (tracking under the brand's own domain)\\n- Better alignment with privacy regulations\",\n    metadata: {\n      source: \"branded-tracking-overview\",\n      category: \"setup\",\n      topic: \"branded-tracking\",\n      subtopic: \"overview\",\n      stage: \"onboarding\",\n      difficulty: \"beginner\",\n      keywords: [\n        \"branded tracking\",\n        \"first-party tracking\",\n        \"Safari ITP\",\n        \"custom domain\",\n        \"visit domain\",\n        \"statics domain\"\n      ],\n      related_topics: [\"dns-setup\", \"cookies\", \"first-party-tracking\"]\n    }\n  },\n\n  {\n    pageContent: \"BRANDED TRACKING - HOW IT WORKS\\n\\nBranded tracking uses two dedicated subdomains:\\n1) visit.[yourdomain] - used for click tracking and redirects\\n2) statics.[yourdomain] - used to serve the tracking library (trsdk) and scripts\\n\\nThe advertiser configures these subdomains as CNAME records pointing to Tradedoubler infrastructure:\\n- visit.[yourdomain] ? CNAME ? imp.tradedoubler.com\\n- statics.[yourdomain] ? CNAME ? statics.tradedoubler.com\\n\\nOnce DNS has propagated and the setup is confirmed, all Tradedoubler scripts and click redirects will use these branded domains.\",\n    metadata: {\n      source: \"branded-tracking-how-it-works\",\n      category: \"setup\",\n      topic: \"branded-tracking\",\n      subtopic: \"mechanics\",\n      stage: \"onboarding\",\n      difficulty: \"beginner\",\n      keywords: [\n        \"visit subdomain\",\n        \"statics subdomain\",\n        \"CNAME records\",\n        \"imp.tradedoubler.com\",\n        \"statics.tradedoubler.com\"\n      ],\n      related_topics: [\"dns-setup\", \"tracking-scripts\"]\n    }\n  },\n\n  {\n    pageContent: \"DNS CONFIGURATION - STEP-BY-STEP\\n\\nTo configure branded tracking subdomains:\\n1) Log into your DNS provider (Cloudflare, GoDaddy, AWS Route 53, etc.)\\n2) Go to DNS / Zone Management\\n3) Create two CNAME records:\\n\\nRecord 1:\\n- Type: CNAME\\n- Host: visit\\n- Points to: imp.tradedoubler.com\\n- TTL: default or 3600 seconds\\n\\nRecord 2:\\n- Type: CNAME\\n- Host: statics\\n- Points to: statics.tradedoubler.com\\n- TTL: default or 3600 seconds\\n\\nWait for DNS propagation (anywhere from minutes to 24-48 hours, depending on the provider).\",\n    metadata: {\n      source: \"dns-configuration-steps\",\n      category: \"setup\",\n      topic: \"dns-setup\",\n      subtopic: \"cname-records\",\n      stage: \"onboarding\",\n      difficulty: \"intermediate\",\n      keywords: [\n        \"DNS\",\n        \"CNAME\",\n        \"visit\",\n        \"statics\",\n        \"DNS propagation\",\n        \"Cloudflare\",\n        \"GoDaddy\",\n        \"Route 53\"\n      ],\n      related_topics: [\"branded-tracking\", \"troubleshooting\"]\n    }\n  },\n\n  {\n    pageContent: \"DNS CONFIGURATION - TROUBLESHOOTING\\n\\nCommon DNS issues:\\n- Conflicting A records for the same host (visit or statics)\\n- CNAME not fully propagated yet\\n- Wrong target host (typo in imp.tradedoubler.com or statics.tradedoubler.com)\\n- DNS cached by ISP or local machine\\n\\nTroubleshooting steps:\\n- Use tools like whatsmydns.net to check global propagation\\n- Make sure the host is set as 'visit' or 'statics', not the full domain\\n- Check there is no A record for the same host\\n- Allow up to 24-48 hours for slow providers\",\n    metadata: {\n      source: \"dns-configuration-troubleshooting\",\n      category: \"setup\",\n      topic: \"dns-setup\",\n      subtopic: \"troubleshooting\",\n      stage: \"onboarding\",\n      difficulty: \"intermediate\",\n      keywords: [\n        \"DNS troubleshooting\",\n        \"whatsmydns\",\n        \"conflicting records\",\n        \"CNAME issues\",\n        \"DNS cache\"\n      ],\n      related_topics: [\"branded-tracking\", \"testing\"]\n    }\n  },\n\n  // -------------------------\n  // TRACKING IMPLEMENTATION\n  // -------------------------\n  {\n    pageContent: \"TRADEDOUBLER TRACKING - LIBRARY OVERVIEW\\n\\nTradedoubler uses a JavaScript tracking library known as trsdk. This library must be present on all pages where you want click sessions to be tracked.\\n\\nKey points:\\n- The library sets a TDUID cookie in a first-party context when a user arrives from a Tradedoubler tracking link.\\n- It captures click parameters (publisher, campaign, etc.).\\n- It does NOT fire conversions by itself.\\n- Conversions are only recorded when the confirmation script (TDConversion) is executed on the order confirmation / thank-you page.\",\n    metadata: {\n      source: \"tracking-implementation-overview\",\n      category: \"implementation\",\n      topic: \"tracking-scripts\",\n      subtopic: \"overview\",\n      stage: \"implementation\",\n      difficulty: \"intermediate\",\n      keywords: [\n        \"trsdk\",\n        \"tracking library\",\n        \"TDUID\",\n        \"click parameters\",\n        \"conversion tracking\"\n      ],\n      related_topics: [\"landing-page-script\", \"confirmation-script\"]\n    }\n  },\n\n  {\n    pageContent: \"LANDING PAGE SCRIPT - PURPOSE & REQUIREMENTS\\n\\nThe landing page script must be present on all important pages (landing pages, product pages, cart, checkout, and confirmation pages).\\n\\nPurpose:\\n- Read click parameters from the URL when the user arrives via a Tradedoubler link\\n- Set a first-party TDUID cookie on the advertiser's domain\\n- Store publisher and campaign info for later attribution\\n\\nIf the landing script is missing or only present on the confirmation page, conversions may not be attributed correctly.\",\n    metadata: {\n      source: \"landing-page-script-purpose\",\n      category: \"implementation\",\n      topic: \"tracking-scripts\",\n      subtopic: \"landing-page\",\n      stage: \"implementation\",\n      difficulty: \"beginner\",\n      keywords: [\n        \"landing page script\",\n        \"TDUID cookie\",\n        \"all pages\",\n        \"click tracking\"\n      ],\n      related_topics: [\"tracking-implementation\", \"cookies\"]\n    }\n  },\n\n  {\n    pageContent: \"LANDING PAGE SCRIPT - IMPLEMENTATION\\n\\nTypical implementation of the landing page script:\\n\\n<script src=\\\"https://statics.[yourdomain]/trsdk\\\" async></script>\\n\\nBest practices:\\n- Load the script from the statics branded subdomain (statics.yourdomain.com)\\n- Place the script before the closing </body> tag\\n- Keep the async attribute so that it does not block page rendering\\n- Ensure this script is included on all key pages: home, category, product, cart, checkout, and confirmation\",\n    metadata: {\n      source: \"landing-page-script-implementation\",\n      category: \"implementation\",\n      topic: \"tracking-scripts\",\n      subtopic: \"landing-page\",\n      stage: \"implementation\",\n      difficulty: \"beginner\",\n      keywords: [\n        \"landing script implementation\",\n        \"trsdk\",\n        \"async\",\n        \"statics subdomain\"\n      ],\n      related_topics: [\"branded-tracking\", \"tracking-implementation\"]\n    }\n  },\n\n  {\n    pageContent: \"CONFIRMATION SCRIPT - TDConversion OBJECT\\n\\nThe confirmation (conversion) script must run on the order confirmation / thank-you page after a successful purchase.\\n\\nCore structure:\\n\\nvar TDConversion = {\\n  transactionId: '[ORDER_NUMBER]',\\n  ordervalue: '[ORDER_VALUE]',\\n  currency: '[CURRENCY]',\\n  event: [EVENT_ID],\\n  voucher: '[VOUCHER]',\\n  cdt: { extId: '[EXITID]', extType: 1 },\\n  validOn: '[VALID_ON]',\\n  products: '[PRODUCT_DATA]'\\n};\\n\\ntdconv('track', 'sale', TDConversion);\\ntdfallback('https://a.imgstatic.eu/trsdk');\\n\\nThis object sends the transaction details to Tradedoubler and credits the correct publisher.\",\n    metadata: {\n      source: \"confirmation-script-core\",\n      category: \"implementation\",\n      topic: \"confirmation-script\",\n      subtopic: \"core-object\",\n      stage: \"implementation\",\n      difficulty: \"intermediate\",\n      keywords: [\n        \"TDConversion\",\n        \"transactionId\",\n        \"ordervalue\",\n        \"currency\",\n        \"event ID\",\n        \"tdconv\",\n        \"tdfallback\"\n      ],\n      related_topics: [\"tracking-scripts\", \"testing\"]\n    }\n  },\n\n  {\n    pageContent: \"CONFIRMATION SCRIPT - REQUIRED & OPTIONAL FIELDS\\n\\nRequired fields:\\n- transactionId: Unique order ID (string)\\n- ordervalue: Numeric value of the order (no currency symbol, decimal point allowed)\\n- currency: Currency in ISO format (e.g. GBP, EUR, USD)\\n- event: Tradedoubler Event ID configured for the program\\n\\nOptional fields:\\n- voucher: Voucher or coupon code used\\n- cdt.extId: External ID for custom tracking\\n- cdt.extType: External type identifier (e.g. 1)\\n- validOn: For delayed validation dates\\n- products: JSON array describing purchased products\",\n    metadata: {\n      source: \"confirmation-script-fields\",\n      category: \"implementation\",\n      topic: \"confirmation-script\",\n      subtopic: \"field-definitions\",\n      stage: \"implementation\",\n      difficulty: \"beginner\",\n      keywords: [\n        \"transactionId\",\n        \"ordervalue\",\n        \"currency\",\n        \"voucher\",\n        \"validOn\",\n        \"products\"\n      ],\n      related_topics: [\"product-data-formatting\", \"data-validation\"]\n    }\n  },\n\n  {\n    pageContent: \"PRODUCT DATA - FORMAT FOR TDConversion\\n\\nIf you send product-level data, the products field should be a JSON array. Example:\\n\\nproducts: [\\n  { id: 'SKU001', name: 'Blue T-shirt', price: 19.99, quantity: 2 },\\n  { id: 'SKU002', name: 'Jeans', price: 49.99, quantity: 1 }\\n]\\n\\nRules:\\n- Must be valid JSON\\n- Prices numeric (no currency symbols)\\n- IDs should match the product feed identifiers\\n- Quantity is recommended for correct reporting\",\n    metadata: {\n      source: \"product-data-formatting\",\n      category: \"implementation\",\n      topic: \"confirmation-script\",\n      subtopic: \"product-data\",\n      stage: \"implementation\",\n      difficulty: \"intermediate\",\n      keywords: [\n        \"product data\",\n        \"JSON\",\n        \"SKU\",\n        \"price\",\n        \"quantity\",\n        \"TDConversion products\"\n      ],\n      related_topics: [\"product-feed\", \"plt\"]\n    }\n  },\n\n  {\n    pageContent: \"CONFIRMATION SCRIPT - COMMON ISSUES & TROUBLESHOOTING\\n\\nCommon issues with the confirmation script:\\n- Script not executed on every successful order\\n- Undefined or null values in TDConversion (e.g. ordervalue or currency missing)\\n- Wrong currency format (symbols or lowercase codes)\\n- No TDUID cookie present (landing script missing earlier in the journey)\\n- Duplicate conversion firing (triggered more than once per order)\\n- Branded domains not fully propagated, causing script loading issues\\n\\nTroubleshooting steps:\\n- Log TDConversion to console and verify values\\n- Check the Network tab for requests to Tradedoubler endpoints\\n- Ensure the script runs only once per transaction\\n- Confirm the landing script is installed on all key pages\",\n    metadata: {\n      source: \"confirmation-script-troubleshooting\",\n      category: \"troubleshooting\",\n      topic: \"confirmation-script-issues\",\n      subtopic: \"common-errors\",\n      stage: \"troubleshooting\",\n      difficulty: \"intermediate\",\n      keywords: [\n        \"script not firing\",\n        \"undefined values\",\n        \"duplicate conversions\",\n        \"TDUID missing\",\n        \"network tab\"\n      ],\n      related_topics: [\"testing\", \"dns-setup\", \"landing-page-script\"]\n    }\n  },\n\n  // -------------------------\n  // GTM IMPLEMENTATION (TD-SPECIFIC)\n  // -------------------------\n  {\n    pageContent: \"GTM IMPLEMENTATION - LANDING & CONFIRMATION TAGS\\n\\nWhen using Google Tag Manager for Tradedoubler tracking:\\n\\nLanding page tag:\\n- Tag type: Custom HTML\\n- Content: Tradedoubler landing script (trsdk)\\n- Trigger: All Pages\\n- It must fire before other tracking tags\\n\\nConfirmation page tag:\\n- Tag type: Custom HTML\\n- Content: TDConversion confirmation script\\n- Trigger: Thank-you / order confirmation page only\\n- Often depends on a condition like order ID not empty\",\n    metadata: {\n      source: \"gtm-implementation-landing-confirmation\",\n      category: \"implementation\",\n      topic: \"gtm-implementation\",\n      subtopic: \"tag-setup\",\n      stage: \"implementation\",\n      difficulty: \"intermediate\",\n      keywords: [\n        \"GTM\",\n        \"Custom HTML tag\",\n        \"landing tag\",\n        \"confirmation tag\",\n        \"thank-you page\"\n      ],\n      related_topics: [\"confirmation-script\", \"gtm-testing\"]\n    }\n  },\n\n  {\n    pageContent: \"GTM PREVIEW MODE - LIMITATIONS FOR TRADEDOUBLER TESTING\\n\\nGoogle Tag Manager Preview Mode is useful for:\\n- Confirming that the landing and confirmation tags fire\\n- Inspecting dataLayer variables\\n- Checking tag sequencing\\n\\nHowever, GTM Preview Mode CANNOT be used to perform a real Tradedoubler tracking test.\\n\\nWhy it does not work for TD tests:\\n- Tradedoubler test click links typically do not run within the preview container URL wrapper\\n- The redirect used by the test click and the tracking pixel may not reach Tradedoubler servers correctly when in preview\\n\\nCorrect testing procedure:\\n1. Exit GTM Preview Mode completely.\\n2. Use the official Tradedoubler test click link.\\n3. Complete a test purchase on the live thank-you page.\\n4. Wait 10-45 minutes and verify the conversion appears in Tradedoubler systems.\",\n    metadata: {\n      source: \"gtm-preview-mode-limitations\",\n      category: \"testing\",\n      topic: \"gtm-testing\",\n      subtopic: \"preview-mode-limitations\",\n      stage: \"testing\",\n      difficulty: \"beginner\",\n      keywords: [\n        \"GTM Preview Mode\",\n        \"test click link\",\n        \"cannot validate\",\n        \"live test\",\n        \"tracking verification\"\n      ],\n      related_topics: [\"testing\", \"confirmation-script\", \"troubleshooting\"]\n    }\n  },\n\n  {\n    pageContent: \"TRADEDOUBLER TESTING - CHECKLIST\\n\\nBefore going live, perform proper tracking tests:\\n\\nGeneral preparation:\\n- Clear cookies and cache\\n- Disable ad blockers\\n\\nSession test:\\n- Click the official Tradedoubler test link\\n- Complete a purchase in the same session\\n\\nCookie persistence test:\\n- Click TD test link\\n- Close the browser\\n- Return later and complete the purchase\\n\\nIf tracking fails:\\n- Check TDUID cookie is being set\\n- Confirm landing and confirmation scripts are present\\n- Inspect network requests to Tradedoubler\\n- Confirm numeric values for ordervalue\\n\\nAlways test across browsers and devices, especially Safari.\",\n    metadata: {\n      source: \"testing-and-troubleshooting\",\n      category: \"testing\",\n      topic: \"testing-procedures\",\n      subtopic: \"test-checklist\",\n      stage: \"testing\",\n      difficulty: \"beginner\",\n      keywords: [\n        \"testing\",\n        \"test link\",\n        \"cookies\",\n        \"cross-browser\",\n        \"troubleshooting\"\n      ],\n      related_topics: [\"gtm-testing\", \"confirmation-script-troubleshooting\"]\n    }\n  },\n\n  // -------------------------\n  // COOKIES & FIRST-PARTY\n  // -------------------------\n  {\n    pageContent: \"FIRST-PARTY COOKIES & SAFARI ITP\\n\\nModern browsers, especially Safari with Intelligent Tracking Prevention (ITP), heavily restrict third-party cookies.\\n\\nTradedoubler's branded tracking ensures:\\n- TDUID is stored as a first-party cookie on the advertiser domain\\n- Cookie lifetime can be up to 365 days (subject to browser rules)\\n- Click ? conversion attribution works more reliably in privacy-focused browsers\\n\\nFlow:\\n1. User clicks a Tradedoubler link redirecting through visit.[yourdomain]\\n2. TDUID is set as a first-party cookie\\n3. User browses the advertiser site\\n4. Confirmation script reads TDUID and credits the referring publisher.\",\n    metadata: {\n      source: \"first-party-tracking-deep-dive\",\n      category: \"technical-concepts\",\n      topic: \"cookies\",\n      subtopic: \"first-party-cookies\",\n      stage: \"onboarding\",\n      difficulty: \"intermediate\",\n      keywords: [\n        \"first-party cookies\",\n        \"Safari ITP\",\n        \"TDUID\",\n        \"cookie lifetime\",\n        \"privacy\"\n      ],\n      related_topics: [\"branded-tracking\", \"consent-management\"]\n    }\n  },\n\n  // -------------------------\n  // CONSENT & COMPLIANCE\n  // -------------------------\n  {\n    pageContent: \"CONSENT MANAGEMENT & GDPR - OVERVIEW\\n\\nTradedoubler supports consent-based tracking using tdconv('tracking-consent', true/false).\\n\\nBehaviour:\\n- Consent = true: Full tracking enabled, TDUID cookie can be created and used\\n- Consent = false: No tracking cookies are stored and user tracking is disabled\\n\\nTypical CMP (Consent Management Platform) flow:\\n1. Load the landing script under 'Strictly Necessary' if allowed by local guidance\\n2. Initially set tdconv('tracking-consent', false)\\n3. On user acceptance of marketing/analytics cookies ? call tdconv('tracking-consent', true)\\n4. On user rejection ? keep tracking-consent as false\\n\\nWorks with CMPs like OneTrust, Cookiebot, Usercentrics, etc.\",\n    metadata: {\n      source: \"consent-management-gdpr\",\n      category: \"compliance\",\n      topic: \"consent\",\n      subtopic: \"gdpr\",\n      stage: \"implementation\",\n      difficulty: \"intermediate\",\n      keywords: [\n        \"consent\",\n        \"GDPR\",\n        \"tdconv tracking-consent\",\n        \"CMP\",\n        \"OneTrust\",\n        \"Cookiebot\",\n        \"Usercentrics\"\n      ],\n      related_topics: [\"cookies\", \"first-party-tracking\"]\n    }\n  },\n\n  // -------------------------\n  // PRODUCT FEED\n  // -------------------------\n  {\n    pageContent: \"PRODUCT FEED - MANDATORY FIELDS\\n\\nFor XML or CSV product feeds, the following fields are mandatory:\\n- productFeed version=\\\"2.0\\\" (for XML)\\n- product id (max 50 characters)\\n- name\\n- description (recommended max 2990 characters)\\n- price (numeric)\\n- productURL\\n- imageURL\\n- category\\n\\nIf any mandatory field is missing or malformed, the product may be dropped from the feed.\",\n    metadata: {\n      source: \"product-feed-mandatory-fields\",\n      category: \"product-feed\",\n      topic: \"feed-structure\",\n      subtopic: \"mandatory-fields\",\n      stage: \"onboarding\",\n      difficulty: \"beginner\",\n      keywords: [\n        \"product feed\",\n        \"mandatory fields\",\n        \"product id\",\n        \"price\",\n        \"productURL\",\n        \"imageURL\"\n      ],\n      related_topics: [\"optional-fields\", \"feed-optimization\"]\n    }\n  },\n\n  {\n    pageContent: \"PRODUCT FEED - OPTIONAL FIELDS\\n\\nOptional but recommended fields:\\n- availability\\n- brand\\n- condition\\n- deliveryTime\\n- ean / upc / isbn\\n- inStock\\n- previousPrice\\n- promoText\\n- shortDescription\\n- shippingCost\\n- sku\\n- size / weight\\n- techSpecs\\n- tdCategoryId\\n- Custom <field name=\\\"...\\\"> pairs\\n\\nThese fields improve data quality, filtering, and performance in publisher tools.\",\n    metadata: {\n      source: \"product-feed-optional-fields\",\n      category: \"product-feed\",\n      topic: \"feed-structure\",\n      subtopic: \"optional-fields\",\n      stage: \"onboarding\",\n      difficulty: \"beginner\",\n      keywords: [\n        \"product feed\",\n        \"optional fields\",\n        \"brand\",\n        \"availability\",\n        \"sku\",\n        \"ean\",\n        \"shippingCost\"\n      ],\n      related_topics: [\"mandatory-fields\", \"feed-optimization\"]\n    }\n  },\n\n  {\n    pageContent: \"PRODUCT FEED - FILE SIZE & IMPORT\\n\\nRecommended feed limits:\\n- File size: ? 100 MB\\n- Number of products: ? 100k\\n\\nAbsolute technical maximums may be higher, but performance and reliability degrade with very large feeds.\\n\\nImport behaviour:\\n- Feeds are typically fetched about every 24 hours\\n- Feed should be accessible via a single HTTP/HTTPS URL\\n- Credentials (basic auth, tokens) must be included or supported\\n\\nProduct ID rules:\\n- Product IDs must remain consistent between feed updates\\n- Changing IDs will break continuity and historical performance data\",\n    metadata: {\n      source: \"product-feed-file-limits\",\n      category: \"product-feed\",\n      topic: \"feed-management\",\n      subtopic: \"file-limits\",\n      stage: \"onboarding\",\n      difficulty: \"beginner\",\n      keywords: [\n        \"file size limit\",\n        \"100MB\",\n        \"import frequency\",\n        \"product ID consistency\",\n        \"feed URL\"\n      ],\n      related_topics: [\"feed-optimization\", \"troubleshooting\"]\n    }\n  },\n\n  {\n    pageContent: \"XML PRODUCT FEED - FORMAT RULES\\n\\nXML v2 rules and recommendations:\\n- XML is case-sensitive\\n- Include a correct XML prologue (e.g. <?xml version=\\\"1.0\\\" encoding=\\\"UTF-8\\\"?>)\\n- Allowed entities: &amp; &lt; &gt; &apos; &quot;\\n- Avoid HTML entities like &nbsp; or custom entities\\n- Do not place CDATA inside attributes\\n- Ensure encoding matches the declared encoding to avoid strange characters\",\n    metadata: {\n      source: \"product-feed-xml-rules\",\n      category: \"product-feed\",\n      topic: \"feed-formatting\",\n      subtopic: \"xml-rules\",\n      stage: \"implementation\",\n      difficulty: \"intermediate\",\n      keywords: [\n        \"XML\",\n        \"XML prologue\",\n        \"entities\",\n        \"CDATA\",\n        \"encoding\",\n        \"case-sensitive\"\n      ],\n      related_topics: [\"mandatory-fields\", \"product-feed-troubleshooting\"]\n    }\n  },\n\n  {\n    pageContent: \"CSV PRODUCT FEED - FORMAT RULES\\n\\nCSV format rules:\\n- Allowed separators: ; , |\\n- One product per line\\n- Use text qualifiers (e.g. \\\") when the separator appears in text fields\\n- CSV does not decode HTML entities\\n- If headers are present, enable 'Ignore First Line' or equivalent option\\n\\nClean, consistent formatting helps prevent parsing errors during import.\",\n    metadata: {\n      source: \"product-feed-csv-rules\",\n      category: \"product-feed\",\n      topic: \"feed-formatting\",\n      subtopic: \"csv-rules\",\n      stage: \"implementation\",\n      difficulty: \"beginner\",\n      keywords: [\n        \"CSV\",\n        \"delimiter\",\n        \"separator\",\n        \"text qualifier\",\n        \"ignore first line\"\n      ],\n      related_topics: [\"product-feed-troubleshooting\", \"mandatory-fields\"]\n    }\n  },\n\n  // -------------------------\n  // GENERIC GTM & DATA LAYER KNOWLEDGE\n  // -------------------------\n  {\n    pageContent: \"GTM & DATA LAYER - CORE CONCEPTS\\n\\nGoogle Tag Manager (GTM) is a tag management system that lets you deploy tracking codes (tags) without changing site code for each new tag.\\n\\nThe Data Layer is a JavaScript object that stores structured information about the page, user actions, and ecommerce events. GTM reads values from the Data Layer and uses them to populate variables and control tag firing.\\n\\nUsing the Data Layer instead of scraping the DOM:\\n- Makes tracking more reliable\\n- Reduces dependency on page structure\\n- Centralises business data for all tags\",\n    metadata: {\n      source: \"gtm-data-layer-core\",\n      category: \"technical-concepts\",\n      topic: \"gtm-data-layer\",\n      subtopic: \"core-concepts\",\n      stage: \"onboarding\",\n      difficulty: \"beginner\",\n      keywords: [\n        \"GTM\",\n        \"Google Tag Manager\",\n        \"data layer\",\n        \"tag management\",\n        \"event tracking\"\n      ],\n      related_topics: [\"gtm-implementation\", \"data-layer-events\"]\n    }\n  },\n\n  {\n    pageContent: \"GTM DATA LAYER - TECHNICAL SETUP\\n\\nBest practice is to define the initial dataLayer before the GTM container snippet.\\n\\nExample:\\n<script>\\n  window.dataLayer = window.dataLayer || [];\\n  window.dataLayer.push({\\n    pageCategory: 'home',\\n    userStatus: 'logged_in'\\n  });\\n</script>\\n<!-- GTM container snippet here -->\\n\\nRules:\\n- Always use dataLayer.push() to add new objects\\n- Do not overwrite the dataLayer variable (avoid dataLayer = {})\\n- Use clear, consistent naming such as camelCase\\n\\nThis ensures GTM sees a stable, predictable structure.\",\n    metadata: {\n      source: \"gtm-data-layer-setup\",\n      category: \"implementation\",\n      topic: \"gtm-data-layer\",\n      subtopic: \"setup-best-practices\",\n      stage: \"implementation\",\n      difficulty: \"intermediate\",\n      keywords: [\n        \"dataLayer\",\n        \"initial state\",\n        \"GTM setup\",\n        \"dataLayer.push\",\n        \"naming conventions\"\n      ],\n      related_topics: [\"gtm-preview-mode\", \"variables-setup\"]\n    }\n  },\n\n  {\n    pageContent: \"GTM DATA LAYER - VARIABLES & TRIGGERS\\n\\nData Layer Variables:\\nIn GTM, a Data Layer Variable reads a value from the dataLayer object.\\n\\nExample event:\\nwindow.dataLayer.push({\\n  event: 'purchase',\\n  orderId: '12345',\\n  orderValue: 89.99\\n});\\n\\nGTM variable configuration:\\n- Variable Type: Data Layer Variable\\n- Data Layer Variable Name: orderId (or orderValue, etc.)\\n\\nUsage in triggers:\\n- Custom Event trigger with Event Name = purchase\\n- Conditions based on values (e.g. orderValue > 0)\\n\\nThis lets you control tag firing precisely based on event data.\",\n    metadata: {\n      source: \"gtm-data-layer-variables-triggers\",\n      category: \"implementation\",\n      topic: \"gtm-data-layer\",\n      subtopic: \"variables-triggers\",\n      stage: \"implementation\",\n      difficulty: \"intermediate\",\n      keywords: [\n        \"GTM variables\",\n        \"Data Layer Variable\",\n        \"custom event trigger\",\n        \"purchase event\"\n      ],\n      related_topics: [\"gtm-tags\", \"tag-firing-sequence\"]\n    }\n  },\n\n  {\n    pageContent: \"GTM DATA LAYER - ECOMMERCE EXAMPLE\\n\\nExample ecommerce purchase push:\\n\\nwindow.dataLayer.push({\\n  event: 'purchase',\\n  ecommerce: {\\n    transaction_id: 'T12345',\\n    value: 129.97,\\n    currency: 'USD',\\n    items: [\\n      { item_id: 'SKU001', item_name: 'Blue T-Shirt', price: 19.99, quantity: 2 },\\n      { item_id: 'SKU002', item_name: 'Jeans', price: 49.99, quantity: 1 }\\n    ]\\n  }\\n});\\n\\nNotes:\\n- Use arrays for lists of items\\n- Keep currency codes consistent and prices numeric\\n- Use unique transaction IDs per order\",\n    metadata: {\n      source: \"gtm-ecommerce-data-layer\",\n      category: \"implementation\",\n      topic: \"gtm-data-layer\",\n      subtopic: \"ecommerce-events\",\n      stage: \"implementation\",\n      difficulty: \"intermediate\",\n      keywords: [\n        \"GTM ecommerce\",\n        \"ecommerce object\",\n        \"purchase event\",\n        \"transaction_id\",\n        \"items\"\n      ],\n      related_topics: [\"gtm-ecommerce-tags\", \"google-analytics\"]\n    }\n  },\n\n  {\n    pageContent: \"GTM DEBUGGING - PREVIEW MODE\\n\\nGTM Preview Mode (the debug console) allows you to:\\n- See each dataLayer event in sequence\\n- Inspect tag firing (fired vs not fired)\\n- Inspect variable values for each event\\n\\nTroubleshooting tips:\\n- Confirm the dataLayer is defined before the container snippet\\n- Check for typos in variable names\\n- Ensure events are pushed exactly when expected\\n- Verify variables are defined at the time the tag evaluates them\",\n    metadata: {\n      source: \"gtm-debugging-preview\",\n      category: \"testing\",\n      topic: \"gtm-data-layer\",\n      subtopic: \"debugging\",\n      stage: \"testing\",\n      difficulty: \"intermediate\",\n      keywords: [\n        \"GTM preview mode\",\n        \"debug console\",\n        \"dataLayer events\",\n        \"tag firing\",\n        \"variable inspection\"\n      ],\n      related_topics: [\"gtm-errors\", \"data-layer-validation\"]\n    }\n  }\n\n];\n\nreturn documents.map(doc => ({ json: doc }));\n"
      },
      "name": "Load Knowledge Base1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        432
      ]
    },
    {
      "parameters": {
        "jsCode": "const chunkSize = 500;\nconst chunkOverlap = 80;\n\nfunction chunkText(text, size, overlap) {\n  const chunks = [];\n  let start = 0;\n  while (start < text.length) {\n    const end = Math.min(text.length, start + size);\n    let chunk = text.slice(start, end);\n    const lastPeriod = chunk.lastIndexOf('.');\n    if (end < text.length && lastPeriod > size * 0.4) {\n      chunk = chunk.slice(0, lastPeriod + 1);\n    }\n    chunk = chunk.trim();\n    if (chunk.length) chunks.push(chunk);\n    start = start + size - overlap;\n  }\n  return chunks;\n}\n\nconst output = [];\nfor (const item of $input.all()) {\n  const doc = item.json;\n  const content = doc.pageContent || \"\";\n  const meta = doc.metadata || {};\n  const baseId = meta.source || `doc_${Math.random().toString(36).slice(2)}`;\n\n  const chunks = chunkText(content, chunkSize, chunkOverlap);\n\n  chunks.forEach((chunk, idx) => {\n    const chunkId = `${baseId}_chunk_${idx}`;\n\n    // Content\n    output.push({ json: { pageContent: chunk, metadata: { ...meta, chunk_id: chunkId, embedding_role: \"content\" }}});\n\n    // Title\n    const title = (chunk.split(\"\\n\")[0] || \"\").slice(0, 120).trim();\n    if (title) output.push({ json: { pageContent: title, metadata: { ...meta, chunk_id: chunkId, embedding_role: \"title\" }}});\n\n    // Keywords\n    const kw = (meta.keywords || []).join(\", \").slice(0, 200);\n    if (kw) output.push({ json: { pageContent: kw, metadata: { ...meta, chunk_id: chunkId, embedding_role: \"keywords\" }}});\n  });\n}\nreturn output;"
      },
      "name": "Chunk & MultiVector1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        432
      ]
    },
    {
      "parameters": {
        "jsCode": "const TECH_TERMS = [\"tduid\", \"tdconv\", \"trsdk\", \"datalayer\", \"cname\", \"dns\", \"gtm\", \"ordervalue\", \"transactionid\", \"xml\", \"csv\", \"sku\", \"ean\"];\n\nfunction classify(text) {\n  const t = text.toLowerCase();\n  if (t.includes(\"dns\")) return \"dns-setup\";\n  if (t.includes(\"branded tracking\") || t.includes(\"first-party\")) return \"branded-tracking\";\n  if (t.includes(\"confirmation\")) return \"conversion-tracking\";\n  if (t.includes(\"gtm\")) return \"gtm-implementation\";\n  if (t.includes(\"feed\")) return \"product-feed\";\n  if (t.includes(\"consent\") || t.includes(\"gdpr\")) return \"compliance\";\n  if (t.includes(\"test\")) return \"testing\";\n  return \"general\";\n}\n\nconst now = new Date().toISOString();\nconst out = [];\n\nfor (const item of $input.all()) {\n  const doc = item.json;\n  const content = (doc.pageContent || \"\").toLowerCase();\n  const meta = doc.metadata || {};\n\n  const autoKeywords = TECH_TERMS.filter(term => content.includes(term.toLowerCase()));\n  const allKeywords = [...new Set([...(meta.keywords || []), ...autoKeywords])];\n\n  const semanticCategory = classify(content);\n\n  const searchText = [meta.category, meta.topic, meta.subtopic, semanticCategory, allKeywords.join(\" \"), (doc.pageContent || \"\").slice(0, 300)].filter(Boolean).join(\" \");\n\n  out.push({ json: { ...doc, metadata: { ...meta, keywords: allKeywords, semantic_category: semanticCategory, search_text: searchText, last_updated: now }}});\n}\nreturn out;"
      },
      "name": "Enhance Metadata1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        432
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Embeddings OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        944,
        752
      ],
      "credentials": {
        "openAiApi": {
          "id": "L4g2aVcKF4eab59w",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents_v3",
          "mode": "list",
          "cachedResultName": "documents_v3"
        },
        "options": {}
      },
      "name": "Supabase Vector Store (Insert)1",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1616,
        928
      ],
      "credentials": {
        "supabaseApi": {
          "id": "XCkBDekWHAd2Pg1e",
          "name": "Supabase 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Default Data Loader1",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1424,
        1024
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        1184,
        432
      ],
      "name": "Simple Vector Store"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1232,
        832
      ],
      "name": "Default Data Loader"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Load Knowledge Base1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Knowledge Base1": {
      "main": [
        [
          {
            "node": "Chunk & MultiVector1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chunk & MultiVector1": {
      "main": [
        [
          {
            "node": "Enhance Metadata1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enhance Metadata1": {
      "main": [
        [
          {
            "node": "Simple Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store (Insert)1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "tags": [],
  "active": false
}