workflows/coe_n8n_coe_untrust_eu_de_prod_tddrift/Email - Implementation Agent.json
{
  "id": "REhCVOk7dk7-jVk_IhlNz",
  "name": "Email - Implementation Agent",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1536,
        1136
      ],
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "L4g2aVcKF4eab59w",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Microsoft Outlook Trigger1').item.json.id }}",
        "send": false,
        "additionalFields": {
          "bodyContent": "={{ $json.output }}",
          "bodyContentType": "html",
          "from": "harry.collins@tradedoubler.com"
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 1,
      "position": [
        -976,
        784
      ],
      "name": "Create Outlook Draft Reply1",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "KHsaTwGxUrLdymsx",
          "name": "Microsoft Outlook account 2"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 15,
              "unit": "minutes"
            }
          ]
        },
        "output": "fields",
        "fields": [
          "conversationId",
          "subject",
          "body",
          "from",
          "toRecipients",
          "ccRecipients",
          "receivedDateTime",
          "isRead"
        ],
        "filters": {
          "custom": "="
        },
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlookTrigger",
      "typeVersion": 1,
      "position": [
        -1680,
        784
      ],
      "name": "Microsoft Outlook Trigger1",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "KHsaTwGxUrLdymsx",
          "name": "Microsoft Outlook account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1072,
        1296
      ],
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "L4g2aVcKF4eab59w",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Searches the Tradedoubler technical knowledge base.\n\nUSE THIS TOOL for any question involving:\n- \"why\", \"how\", \"what is\", \"what if\", \"can you explain\"\n- tracking implementation (landing/confirmation scripts)\n- branded tracking (visit. / statics. domains, first-party cookies)\n- DNS setup / CNAME configuration\n- GTM integration, dataLayer, tag sequencing\n- testing and troubleshooting\n- product feeds (XML/CSV), feed rules, product attributes\n- consent management & GDPR\n- Safari ITP, TDUID, cookies, trsdk, tdconv\n\nHOW TO USE RESULTS:\n1. Prefer chunks where metadata.embedding_role = \"content\".\n2. Use metadata.embedding_role = \"title\" and \"keywords\" to improve relevance\n   when the user's query is ambiguous or broad.\n3. Use metadata.semantic_category to focus retrieval on the correct topic:\n   - dns-setup\n   - branded-tracking\n   - conversion-tracking\n   - gtm-implementation\n   - product-feed\n   - compliance\n   - testing\n4. Use metadata.search_text to match intent, terminology, and synonyms.\n5. Base ALL technical answers STRICTLY on the retrieved chunks.\n6. If the retrieved documents do not contain the required information,\n   clearly state that the documentation does not cover it.\n\nYou MUST call this tool before answering any technical question.\nYou MUST ground your answers in the retrieved documentation.",
        "memoryKey": {
          "__rl": true,
          "value": "techhub_chat_bot_docs",
          "mode": "list",
          "cachedResultName": "techhub_chat_bot_docs"
        },
        "topK": 8
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        -1040,
        1088
      ],
      "name": "Simple Vector Store"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Please use the vector database to answer technical quries regarding the implementation.",
        "options": {
          "systemMessage": "You draft client-facing implementation and onboarding email replies for Stanislaw Serebriakow at Tradedoubler.\n\nYour job is to create a strong draft reply for Stanislaw to review in Outlook.\n\nRules:\n- Output the email body only. Do not include a subject line.\n- Sound human, calm, competent, and specific.\n- Write as Stanislaw from Tradedoubler.\n- Keep replies practical and structured around next steps, requirements, blockers, timelines, owners, or technical guidance.\n- If the email is about onboarding, explain the implementation steps clearly and in the right order.\n- If the email is technical and a knowledge-base tool is connected, use it before answering.\n- Never invent product behaviour, integrations, timelines, or configuration details.\n- If something is unclear or cannot be confirmed from the message or the knowledge base, say you will confirm internally and come back rather than guessing.\n- If the client is blocked, acknowledge the blocker, state exactly what is needed to unblock it, and suggest the fastest next action.\n- Match the sender's tone and length. Short email in, short email out.\n- Prefer bullet points only when they genuinely make implementation steps clearer.\n- Keep the reply suitable for a business email from a Tradedoubler implementation/contact owner.\n\nWhen useful, include:\n- prerequisites\n- what Tradedoubler needs from the client\n- expected outcome of each step\n- realistic next actions\n- a polite close\n\nDo not mention that you are an AI system."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -1328,
        784
      ],
      "name": "AI Agent"
    }
  ],
  "connections": {
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft Outlook Trigger1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Create Outlook Draft Reply1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "binaryMode": "separate"
  },
  "tags": [],
  "active": false
}